[2018-09-07 07:40] gilberto-torrezan opened #1 "V8: HorizontalLayout doesn't align the components horizontally"
@gilberto-torrezan commented on [Thu Sep 06 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/223)

Sample code:

[code]

When running with MPR and V7, the output is this:

![horizontal_layout_v7](https://user-images.githubusercontent.com/7464735/45152309-4ea11800-b1d9-11e8-9049-67dfc295f7e9.png)

... but with V8, the output is this:

![horizontal_layout_v8](https://user-images

[2018-09-07 07:40] gilberto-torrezan opened #2 "V8: Keyboard shortcuts don't work when a text field is focused"
@gilberto-torrezan commented on [Wed Sep 05 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/217)

This is reproducible with this test:

[code]

When pressing <kbd>ENTER</kbd> when the text field is focused, it doesn't activate the button (the `Button activated!` message is not shown). But pressing it again activates it (and at any time after it).

Also, clicking on the text f

[2018-09-07 07:41] gilberto-torrezan opened #3 "Make MprUI.addClickListener/removeClickListener work"
@gilberto-torrezan commented on [Thu Aug 16 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/157)

Currently when adding a ClickListener via `MprUI.addClickListener(...)`, no event is triggered when the `<body>` is clicked.

Although when using:

[code]

The event is triggered for the Flow listener.

[2018-09-07 07:41] gilberto-torrezan opened #4 "Document the restriction with inheritable thread locals"
@Legioth commented on [Mon Sep 03 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/199)

Vaadin 7 uses `InheritableThreadLocal` semantics for e.g. `UI.getCurrent()`, which means that `UI.getCurrent()` has a specific value when the thread is started, then that same value will also be available as `UI.getCurrent()` for code running in the new thread.

This won't work with MPR wh

[2018-09-07 07:41] gilberto-torrezan opened #5 "UI.getCurrent().getSession() returns null while constructing / post constructing"
@stefanuebe commented on [Thu Aug 30 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/194)

The method com.vaadin.ui.UI.getCurrent() returns a valid UI instance, but calling getSession() on that UI instance returns null, while initiating the class.

VaadinSession.getCurrent() returns the valid session.

---

@Legioth commented on [Thu Aug 30 2018](https://github.com/vaadin/mul

[2018-09-07 07:41] gilberto-torrezan opened #6 "Help dealing with differing date types"
@Legioth commented on [Thu Aug 23 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/173)

An application built using V7 is quite likely to use `java.util.Date` for temporal data since that's the native data type of the old `DateField` component. For using such entities with new view logic implemented using Flow, `com.vaadin.flow.data.converter.LocalDateToDateConverter` can be u

[2018-09-07 07:42] gilberto-torrezan opened #7 "Support a MprCDIView that automatically registers to MprNavigator"
@caalador commented on [Wed Aug 15 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/154)

---

@Legioth commented on [Wed Aug 15 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/154#issuecomment-413186012)

With some luck, the legacy `@ViewScoped` annotation might even be relatively easy to support by pulling the code from the legacy CDI integration that d

[2018-09-07 07:42] gilberto-torrezan opened #8 "Support a MprSpringView that automatically registers to MprNavigator"
@caalador commented on [Wed Aug 15 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/153)

---

@Legioth commented on [Wed Aug 15 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/153#issuecomment-413186088)

With some luck, the legacy `@ViewScoped` annotation might even be relatively easy to support by pulling the code from the legacy CDI integration that d

[2018-09-07 07:42] gilberto-torrezan opened #9 "URL parts of V10 are kept when navigating to V7 - when navigating "back", show router layout is not called"
@stefanuebe commented on [Tue Sep 04 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/211)

Following use case when using a router layout instance and a v7 navigator:

1. User navigates to v10 view "foo". Url becomes "/foo". showRouterLayout is called.
2. User navigatesto v7 view "bar". Url becomes "/foo#!bar". Content is updated by navigator view change listener.
3. User navi

[2018-09-07 07:43] gilberto-torrezan opened #10 "State of v7 navigator is kept in memory when navigating to v10"
@stefanuebe commented on [Wed Sep 05 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/212)

Following steps to reproduce the problem:
1. navigate to a v7 view (e.g. "#!bar")
2. navigate to a v10 view (e.g. "/foo").
3. navigate to the same v7 view ("#bar").

The v7 navigator now thinks that the v7 is still shown and not navigate to it. Instead the method `updateNavigationState`

[2018-09-07 07:43] gilberto-torrezan opened #11 "Automatically generate MprRouteAdapter classes based on an @MprRoute annotation"
@Legioth commented on [Wed Jun 20 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/102)

This is an opportunity for a shorthand that would help avoid a little bit of boilerplate for each view.

---

@SomeoneToIgnore commented on [Thu Aug 16 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/102#issuecomment-413548185)

Have spent a day roughly on the impleme

[2018-09-07 07:43] gilberto-torrezan opened #12 "Investigate and document limitations related to TouchKit"
@Legioth commented on [Tue Sep 04 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/205)

Some potential issues include the custom serlvlet used for hosting offline stuff and the custom UI provider used for selecting whether to show a mobile or desktop UI.

---

@pleku commented on [Thu Sep 06 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/205#issuecommen

[2018-09-07 07:44] gilberto-torrezan opened #13 "Client exception if changing contents before FW application loaded first time."
@caalador commented on [Fri Jun 15 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/87)

If you have (for instance) a Flow Tabs that can be used to navigate to a new view containing another embedded FW application and navigate before the application has loaded the first time you get a:

`(TypeError) : $0.firstElementChild.setResponse is not a function`

as a error notification

[2018-09-07 07:52] gilberto-torrezan opened #14 "Document need and usage of vaadin-compatibility-client dependency"
@caalador commented on [Thu Aug 23 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/177)

And add a test module that verifies that having a V8 app with V7 compatibility packages works with MPR-v8

---

@caalador commented on [Fri Aug 31 2018](https://github.com/vaadin/multiplatform-runtime-internal/issues/177#issuecomment-417641340)

Note that current `mpr-v8` implementation r

[2018-09-07 09:58] stefanuebe commented on #10
Yes, but only via programmatical navigation, not via browser.

[2018-09-10 07:10] TatuLund opened #15 "Documentation is needed how to setup pom.xml for -Dvaadin.produtionMode"
I just briefly browsed thru the MPR docs in vaadin.com/docs. One thing that is missing there is instructions what to add to pom.xml in order to get -Dvaadin.productionMode work. I am pretty confident that IE11 will play important role here.

[2018-09-10 13:48] #4 closed

[2018-09-10 13:49] #1 closed

[2018-09-11 07:39] #14 closed

[2018-09-11 10:30] #15 closed

[2018-09-12 11:50] caalador commented on #2
Vaadin 8 sends much more requests to the server and they happen in their own requests:
For the differences we can see look at the "Load" and "Enter" requests received on the serverside ClientCallable setRequest method:

Vaadin 7
'Load'
'Enter'
[code]

'Enter with text'
[code]

Vaadin 8

'Load'
[code]
[code]
'Enter'
[code]
[code]

[2018-09-13 05:34] caalador commented on #2
Also with MPR we get a new action in the response for setText
[code]

but this doesn't happen with a pure V8 application where the response only contains updated sync- and clientId
[code]

[2018-09-13 12:22] stefanuebe opened #16 "Initial navigation of v7 UI problematic on v10 UI init"
The initial navigation of the v7 UI triggers sometimes unwanted behaviour, when the v10 UI is initialized. I use the default navigator and a self implemented displayment of  v7 views inside a v10 view.

**Example paths**:
/ - route of the v10 view, that contains the legacy wrapped v7 css layout
/my-example - route to a v10 view

**Use case 1**
I have a v7 default view and go to `localhost:8080` vi

[2018-09-17 07:32] pleku opened #17 "Run v8 Bakery for Spring with MPR"

[2018-09-17 07:33] pleku opened #18 "Run v8 Bakery for JavaEE with MPR"

[2018-09-17 09:29] caalador commented on #10
Can you give a sample of the usage as I always get `navigateTo` called when coming to a FW7 view from a Flow view in the `mpr-tests/navigation` module.

[2018-09-17 09:38] caalador commented on #9
Would also want to have a sample that shows how this works (e.g. doesn't work).

[2018-09-17 10:41] #2 closed

[2018-09-18 07:58] caalador commented on #16
What about using the MprNavigator?

[2018-09-18 10:46] stefanuebe commented on #16
Usecase 2 is the same. Still navigating to the default v7 view. IMO this is the most annoying use case, since it will happen with every page reload or calling the page via a link.
Usecase 3 is handled, but shows nothing useful in my case (so page would need some special handling for that use case).

Nevertheless, the MprNavigator needs a MprNavigatorRoute to work, what is not suitable for this cus

[2018-09-19 05:12] caalador commented on #16
Well basically the MprNavigator should work fine with getting a NavigationTarget (Flow route target that contains the component container) instead of the MprNavigatorRoute.

[2018-09-21 07:01] gilberto-torrezan opened #19 "Automatic redeployment (hot swap) causes an exception on MprServlet"
When using hot swap to quickly redeploy the application when saving (in development time), like what is used in the Bakery starter, the deployment fails due to an exception on the `init` method of the `MprServlet`:

[code]
This makes the hot swap not possible to be used when MPR is on the classpath.

[2018-09-24 13:11] gilberto-torrezan opened #20 "Vaadin-board for Vaadin 8 is not supported when using MPR"
The `vaadin-board` add-on for Vaadin 8 is quite unique: it's the only add-on that uses webcomponents.

Because of that, it loads Polymer and the eventual polyfills together with the webcomponent, and since Flow also loads them, it creates a client-side error that can prevent the application from working:

That error happens in several places, when registering different tags. For instance, in this

[2018-09-24 23:15] petrixh opened #21 "MPR documentation wrong dependency in apendix"
https://vaadin.com/docs/v10/mpr/introduction/introduction-v7.html

https://vaadin.com/docs/v10/mpr/introduction/introduction-v8.html

The appendix section which shows the full pom (which is the one most will probably copy) contains the wrong mpr dependency, i.e. missing the specifier (mpr-v7/mpr-v8)

[2018-09-25 11:34] #10 closed

[2018-09-25 11:38] #16 closed

[2018-09-26 04:29] #21 closed

[2018-09-26 05:10] caalador commented on #20
I don't get the exception with the given code, but as a different function the view with an empty board doesn't load on safari 12.0 (13606.2.11)

Tested to work with OS X:
- Vivaldi 1.15.1147.64 (Stable channel) (64-bit)
- Chrome Version 69.0.3497.100 (Official Build) (64-bit)
- Opera 55.0.2994.61 and 56.0.3051.31

[2018-09-26 06:29] #17 closed

[2018-09-26 07:09] caalador commented on #9
As a base rule stick the V7 navigator layout shouldn't a V10 layout that should work independently.
The showLayout is not called due to non mpr navigator and from flow point of view the route hasn't changed.

[2018-09-26 07:09] #9 closed

[2018-09-26 10:09] TatuLund opened #22 "MPR documentation should mention that PhantomJS is not working with it"
In Vaadin 7 & 8 applications it is not uncommon practice to do view to PDF report generation with PhantomJS. Since PhantomJS is no longer supported in Flow, and hence not in MPR either, this is an issue with some applications when migrating to MPR. In most cases it should be possible to do workaround e.g. with headless Chrome. This should be documented e.g. in https://vaadin.com/docs/v11/mpr/usage

[2018-09-27 07:27] #22 closed

[2018-09-27 22:09] petrixh opened #23 "A component with setResponsive(true) does not get updated width ranges when running inside of a LegacyWrapper."
Attached example project has a native v7 and a mpr-v7/v10 project (ignore the native v10 project).

Example has 2 labels and a CssLayout, the first label follows the width ranges of the UI, while the second follows the width ranges of the CssLayout (also not working if a panel is used so not just CssLaoyut specific)

When running the v7 project, setResponsive on a CssLayout updates the width range

[2018-09-27 22:28] petrixh opened #24 "Invalidating the session causes unhandled exception due to flow session not found"
Invalidating a HTTP session when MPR is running causes an unhandled exception when MPR is looking for a Flow session.

Example included, in v7/v8 the recommended way of "logging out a user" was to invalidate the current HTTP session and call page.refresh() which usually landed on the login page of an app. However, in MPR this seems to be quite hard to achieve.

It would be good to document how in

[2018-09-28 11:06] pleku opened #25 "Add an issue template to repository"
To help the users to help us by providing better issues, let's add a template. Eg. https://github.com/vaadin/framework/blob/master/.github/ISSUE_TEMPLATE.md

[2018-10-02 00:54] petrixh opened #26 "Interacting with V7 Page (or Navigator) during V7 init causes NPE"
If the UI code interacts with the V7 page object during initialization a NPE is thrown because the legacy Page object does not have its location set. This is quite typical behavior in old V7/v8 apps where the URI fragment is kept in the browser while the user logs on, and after logon the code calls getUi().getNavigator().navigateTo(getUI().getNavigator().getSate()). In other cases we might check !

[2018-10-02 08:12] gilberto-torrezan commented on #24
Hi @petrixh, this bug is fixed on the latest release (`1.0.0`). I've created a PR to update the documentation, adding a topic on how to deal with `VaadinSession` when using MPR.

Basically you need to use Flow APIs to invalidate it:

[code]

[2018-10-02 10:27] #24 closed

[2018-10-31 09:13] TatuLund opened #27 "Vaadin Charts will cause dependency conflict on commons-io"
If the project uses (older) version of charts, there will be dependency conflict on commons-io, since Flow uses it internally, e.g. with Router.

Workaround is to exclude the transient dependency from chart dependency:

[code]

[2018-11-02 11:27] pleku opened #28 "Content missing from the docs sidebar or out of sync"
The step-by-step tutorial is not visible in the sidebar, as it should be. Preferably also in a manner that one could see the different steps there are as numbered subpages.

Also the content doesn't match the overview page, like _Configuration and Advanced Topics_ versus _Configuration of the Legacy Vaadin Framework_

Known limitations and Production mode are described as subtopics to using legacy

[2018-11-05 08:58] pleku commented on #13
It is possible to block the user from interacting with the UI with the loading indicator in Flow, by setting it to eg. dim the whole page for the loading time, and thus block user interaction to the components.

[2018-11-14 22:05] neerup opened #29 "Not able to use CustomServlet without urlpattern /*"
Hi...
I'm in the process of converting a Vaadin 8 projekt to Vaadin 11 using MPR
But I'm not able to use a Custom Vaadin servlet without a servlet mapping to /*
I have tried:
 `@WebServlet(urlPatterns = { "/ui/*", "/frontend/*", "/framework/*", "/VAADIN/*" }, name = "UIServlet", asyncSupported = true)` but i'm not able to load my custom Widgetset.
Getting 404 on : http://localhost:8080/myapp/ui/fr

[2018-11-15 06:38] caalador commented on #29
Is the custom servlet for flow or framework?

[2018-11-15 06:40] neerup commented on #29
Servlet is for flow....

[2018-11-15 06:49] caalador commented on #29
At least `/framework/*` should be registered by `MprServlet` that is a Framework VaadinServlet and not by Flow.

There is a possibility that the LegacyWrapper generated configuration would need to be made more configurable as now the sent `vaadinDir`is always `./framework/VAADIN/` and the servlet url used is `./framework/`

I guess that if trying `http://localhost:8080/myapp/framework/VAADIN/widge

[2018-11-15 07:25] johannesh2 opened #30 "Migration guide step1 sample pom.xml has missing property"
I don't see where `${framework.version}` is defined. However, that property is used instead of `vaadin.version` in a few places.

[2018-11-15 07:26] johannesh2 opened #31 "Migration guide step1 for Vaadin 12 should instruct to use platform bom"
If I understood correctly, the platform bom should be used in Vaadin 12. The migration guide step1 does not mention it.

[2018-11-15 08:15] caalador commented on #30
Should be ${vaadin.version}

[2018-11-15 08:26] caalador opened #32 "Validate that MPR uses Flow version from BOM"
Validate that when using the Platform Bom the used flow version for MPR is the BOM version
and not a snapshot.

[2018-11-15 08:38] pleku commented on #31
Related to https://github.com/vaadin/multiplatform-runtime-internal/issues/271. Sorry that this issue is in the wrong repository, but it is due to be fixed in this sprint.

[2018-11-19 06:35] neerup commented on #29
caaldor am I missing something... will /ui/* not pickup /ui/framework/* requests ?

[2018-11-19 08:34] caalador commented on #29
It should, but the problem is that the `/ui/framework` requests should go to the `MprServlet` that handles framework requests.

[2018-11-19 08:36] neerup commented on #29
OK... so is there a solution or something i should try?

[2018-11-19 12:32] caalador commented on #29
It feels like something should be changed to support this.

If you have a sample use case of what and why we could then investigate and perhaps come up with a solution for changing the servlet mapping on the Servlet.

[2018-11-19 13:40] neerup commented on #29
This is exactly the same as issue #4619 from Flow:
All Flow apps and features should work from non-root servlet context #4619

[2018-11-21 11:58] #25 closed

[2018-11-27 06:27] #28 closed, assigned to gilberto-torrezan

[2018-11-29 20:49] #31 closed

[2018-12-04 09:32] mehdi-vaadin commented on #26
Using navigator in MPR works as explained in the documentation. As @pleku mentioned, the case mentioned in this issue is not supported. And, to make it clear, the documentation's been updated and improved.

[2018-12-04 10:43] stefanuebe opened #33 "Problems when navigation between Flow RouterLayouts"
## Scenario
I have a simple constellation of two top level layouts, that represent different parts of an application. When navigating to a view with a different layout after the MPR has been initialized, an error appears. When MPR has not been initialized, everything works as expected.

The MPR initialization is done by implementing MprNavigatorRoute and binding this to the layout.

## Error
`(Typ

[2018-12-04 12:11] #26 closed

[2018-12-10 08:52] stefanuebe opened #34 "Docs in Step 3 contain an invalid link"
https://vaadin.com/docs/v12/mpr/introduction/step-3-cdi.html

Sub chapter _What to do with CDIView_ contains the link _Migrating Views to Flow Routes_. Leads to a 404.

[2018-12-18 09:42] haiwan opened #35 "Verticalsplitpanel id not wrapped nicely"
Given a Verticalsplitpanel, which has two labels. When wrapping the Verticalsplitpanel into a flow component, the UI looks broken.
If you just change the Verticalsplitpanel to a VerticalLayout, then the UI looks good.

Attached two screenshots: one with Verticalsplitpanel, the other with VerticalLayout, also a test project.
[test.zip](https://github.com/vaadin/multiplatform-runtime/files/2689847/t

[2018-12-18 11:43] haiwan opened #36 "MprNavigator doesn't accept SingleComponentContainer"
Navigator has this constructor
`public Navigator(UI ui, SingleComponentContainer container) {
        this(ui, new SingleComponentContainerViewDisplay(container));
    }`
which allows setting a Panel as view dispaly.
But MprNavigator doesn't have such constructor, so impossible to use a Panel as view display which is a very common use case in v7/8 projects

[2018-12-18 13:12] haiwan opened #37 "Cannot add non-empty @Route to MprNavigatorRoute"
Adding non-empty @Route to a MprNavigatorRoute will redirect to localhost:8080 and load the page forever.
Can reproduce with the attached project
[mprroute.zip](https://github.com/vaadin/multiplatform-runtime/files/2690551/mprroute.zip)

[2018-12-18 15:09] haiwan commented on #37
seems adding a default view to the navigator fixed the problem, closing this one

[2018-12-18 15:09] #37 closed

[2018-12-19 07:22] haiwan opened #38 "MprNavigatorRoute with a non-empty route loads the page forever"
Given a MprNavigatorRoute with non-empty Route, and configure a v8 view, e.g.
[code]
Expected: user can go to localhost:8080/test/#!myview to see the TestView
Actual: It redirects to localhost:8080 and loads the page forever

P.s. It works when the TetView is registered with an empty string. It also works if the Route is empty and TestView is registered under "myview".

Also attaching a very simpl

[2018-12-19 07:49] haiwan commented on #35
Found a workaround for setting the size of view display.
[code]

[2018-12-19 08:10] haiwan opened #39 "Cannot set a custom view display for MprNavigatorRoute"
There is a constructor in MprNavigatorRoute
`public MprNavigatorRoute(ComponentContainer container)`
Which allows a user to set a custom view display, but currently there is a bug which prevents a user from doing so:
Inside `AbstractMprNavigatorRoute::getNavigator(ComponentContainer container)`, the navigator for AbstractMprNavigatorRoute is never set, which results in an NPE when configuring the

[2018-12-20 07:23] haiwan opened #40 "Inline @Autorwire for constructor injection is not necessary, doc needs to be updated"
Tried this code with 12.0.3
[code]
which works, so doc needs to be updated. also Stefan mentioned that it worked also for v10/11

[2018-12-21 07:09] caalador commented on #34
duplicate of https://github.com/vaadin/multiplatform-runtime-internal/issues/279

[2018-12-21 07:09] #34 closed

[2019-01-02 09:26] onuridrisoglu opened #41 "Legacy component styles are not applied"
When a legacy component - which contains custom styles - is added to the view, the customer styles are loaded (`http://localhost:8080/framework/VAADIN/widgetsets/<WIDGET_NAME>/styles.css`)
but they are not applied because of the shadow root scoping.

[2019-01-02 09:47] Legioth commented on #41
The custom styles might either be loaded explicitly from either the server or the client, or they might be defined in the component's `.gwt.xml` file.

I suspect we cannot handle these kinds of cases automatically, but I think there should at least be a mention of this in the documentation along with an example on how to manually include such styles inside the shadow root where the component will

[2019-01-03 21:31] #40 closed

[2019-01-07 05:57] caalador commented on #30
Fixed by #292

[2019-01-07 05:57] #30 closed

[2019-01-29 09:13] eriklumme opened #42 "Client side exception "Widget is still attached to the DOM ..." upon navigation"
Whenever a V7 component is removed, there is an exception in the console

    SEVERE: Widget is still attached to the DOM after the connector (LabelConnector (681)) has been unregistered. Widget was removed.

`LabelConnector` is only an example.

Happens on navigating away from a view containing a V7 component, using the Router. Also happens in a custom V7 widget where elements are shown and hidde

[2019-01-30 09:39] ujoni commented on #42
Could you provide a small example code for verification puposes?

[2019-01-30 09:41] eriklumme commented on #42
I'll try to make some time for that, it'd require setting up a new project with MPR so would take some time.

[2019-02-12 09:39] #33 closed

[2019-02-12 12:19] eriklumme commented on #13
I get this without interacting with the web page at all

[2019-02-14 12:08] mehdi-vaadin opened #43 "Release 1.1.1"

[2019-02-14 12:09] pleku opened #44 "Release 1.2.0.beta1"
This should be released based on `master` to make sure that we have a version that is compatible with Vaadin 13 (based on Flow 1.4.0). It should be updated to Vaadin platform BOM.

The incompatibility has already been fixed.

[2019-02-14 12:40] pleku opened #45 "Support multiple UIs as legacy components inside MPR"
When using MPR with V7 / V8 application, I should be able to add any number of my legacy V7 / V8 UIs inside the Flow app using MPR, because I just want to get the UIs to run inside V10 without making "any" changes to those.

Some implementation specifics to take into consideration:
- the legacy UI will have a URL that it is accessed from
  - that URL should be specified somehow, either its read fr

[2019-02-15 13:19] Legioth commented on #45
Which instance should be returned by `com.vaadin.ui.UI.getCurrent()`?

[2019-02-15 14:11] pleku commented on #45
To my understanding it should dependent on the import. If the user doesn't change their code, it imports the legacy UI.

There is a good chance that `getUI` calls cast the returned `UI` into something more specific which has some API that they depend on. They don't need the Flow UI in this case.

[2019-02-18 09:12] Legioth commented on #45
What I mean is that if there are multiple UIs, then which of them should `getCurrent()` return?

[2019-02-18 13:36] eriklumme commented on #42
Here's a complete example with  `framework 8.7.0` and `platform 12.0.5`. I just used the framework starter and added the MPR dependencies. Clicking the button results in an error in the browser console.

package org.vaadin;

    import com.vaadin.flow.component.button.Button;
    import com.vaadin.flow.component.orderedlayout.VerticalLayout;
    import com.vaadin.flow.router.Route;
    import com.

[2019-02-19 15:17] mehdi-vaadin commented on #43
Done

[2019-02-19 15:17] #43 closed

[2019-02-26 08:41] mehdi-vaadin commented on #44
`1.2.0.beta1` has been released.

[2019-02-26 13:47] #44 closed

[2019-02-28 08:45] pleku commented on #45
There can only be one UI active at a time, which 1) `MyLegacyUI` extends MprSpecialUI`
2) `MyExtendingUI` extends AbstractLegacyUI`

[2019-03-01 12:32] Legioth commented on #45
Why is MPR used at all in that case?

Why not instead let a regular V7 / V8 servlet handle requests for such URLs, and there there might be a Flow servlet in the same context that is mapped to different URLs and handles those?

[2019-03-01 13:29] Legioth commented on #45
Based on the idea that a specific URL would open a V7 / V8 UI as-is in the browser without showing anything from the Flow side, it seems like a much simpler solution would be to just deploy `VaadinServlet` from Vaadin 7 / 8 side-by-side with `VaadinServlet` from Flow. It's probably most straightforward to let the Flow servlet deploy itself for `/*` and handle generic bootstrapping as long as there

[2019-03-19 11:28] #45 closed

[2019-03-27 12:07] johannest opened #46 "Remove unnecessary csrfToken, syncId, and clientId tracing of legacy part of the requests"
Currently accessing view containing LegacyWrapped content the request's contains two set of  csrfToken, syncId, and clientId. See example below:

```{"csrfToken":"03fc6148-0df8-4422-9484-d90912e8e903","rpc":[{"type":"publishedEventHandler","node":177,"templateEventMethodName":"setRequest","templateEventMethodArgs":[{"csrfToken":"589fc38c-47cc-42b3-9165-7138227a596e","rpc":[["930","com.vaadin.share

[2019-06-11 06:58] mehdi-vaadin opened #47 "Release MPR 1.2.1"

[2019-06-11 06:59] mehdi-vaadin opened #48 "Release MPR 1.1.2"
After https://github.com/vaadin/multiplatform-runtime-internal/pull/316 is merged.

[2019-06-19 07:40] mehdi-vaadin opened #49 "Release MPR 2.0.0"

[2019-06-19 07:51] mehdi-vaadin commented on #49
Before the release, we should make sure that it works well with V14 in both normal mode (npm) and compatibility mode.

[2019-06-24 07:05] mehdi-vaadin commented on #47
Done.

[2019-06-24 07:05] #47 closed

[2019-06-25 07:05] mehdi-vaadin commented on #49
https://github.com/vaadin/multiplatform-runtime-internal/issues/322 is ignored for now.

[2019-06-26 06:42] #49 closed

[2019-07-02 10:38] TatuLund commented on #23
See also

https://vaadin.com/forum/thread/17758035/mpr-vaadin-7-and-grid-resize-issue-chrome

[2019-07-02 13:45] #48 closed

[2019-07-24 12:34] Ansku opened #50 "Improve first use experience with a working example project"
Taking MPR into use for the first time would become significantly easier if the introductory pages would also point to a working example project, such as https://github.com/TatuLund/mpr-demo

[2019-08-02 15:54] javier-godoy commented on #19
This issue is caused by spring-boot-devtools [automatically restarting the application](https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html#using-boot-devtools-restart) when it detects a change. I had a better experience by removing `spring-boot-devtools` dependency from the POM, and relying on the hot deploy feature provided by the IDE.

[2019-08-26 17:59] samulivaadin opened #51 "Http session invalidate throws exception"
Call VaadinSession.getCurrent().getSession().invalidate(); and following exception ensues. Calling VaadinSession.getCurrent().close() first or not does not change this. Using platform version 13.0.0 with MPR and framework 7.7.16.

`java.lang.IllegalStateException: getAttribute: Session already invalidated
	at org.apache.catalina.session.StandardSession.getAttribute(StandardSession.java:1178)
	at o

[2019-08-26 17:59] #51 closed

[2019-09-17 09:16] petrixh opened #52 "Spring application.properties values not picket up by MPR Servlet"
While working on a MPR migration project, we noticed that the application.properties values are not picked up by the MPRServlet.. Most notably, trying to set the application to production mode left the V8 runtime still in debug mode.

After some investigation a possible cause was found:

`AbstractMprServlet#createDeploymentConfiguration(Properties initParameters)`

looks for:

[code]

But in a spr

[2019-09-19 09:46] TatuLund opened #53 "Atmosphere configuration throws exception during application start with Spring Boot"
In our application Atmosphere configuration throws exception during application start with Spring Boot

I have debbuged this a little. The results are

- In the first round configuration finds the SpringServlet (which is the Flow app) and servlet mappings are found, and Push is configured correctly
- On the second round configuration finds MprServlet, which does not have mappings and configuration

[2019-10-01 05:34] TatuLund opened #54 ""This UI instance is already initialized" appearing in production"
We have observed this error happening sometimes in production environment

[code]

[2019-10-01 11:35] SebastianKuehnau opened #55 "Design of V7 Grid isn't consistent"
I was using MPR to migrate a simple Vaadin 7.7.17 Application to Vaadin 14.0.7. The design of the grid component looks i the new Vaadin 14 application not the same as it does in Vaadin 7.

![Grid in Vaadin 7](https://user-images.githubusercontent.com/17566949/65958593-0aba2a00-e450-11e9-8fa5-58bcfbf9c6a7.png)

![Vaadin 7 Grid in Vaadin 14 Application](https://user-images.githubusercontent.com/1756

[2019-10-03 11:20] denis-anisimov commented on #19
Could you please provide steps to reproduce ?

[2019-10-03 19:13] Legioth commented on #54
My best guess of what's happening here is that two separate tabs are opened simultaneously, each having their own MPR contents. For each of those, there's logic that sees that the next legacy UI id for the session is 0, which is sent to the client-side counterpart for each tab. After this, each tab goes on to send an UI init request with `ui=0` as a parameter. This succeeds for the first one to be

[2019-10-04 13:21] SebastianKuehnau commented on #55
I could fix it with `personGrid.setHeightMode(HeightMode.ROW);`

[2019-10-07 21:28] alump commented on #29
Why this can't be resolved by replacing the hardcoded "./framework"s on this specific class with method:

[code]

[2019-10-08 08:23] #19 closed

[2019-10-11 10:05] TatuLund opened #56 "Client side exception thrown in AbstactMprUIContentConnector"
For me this exception translates to getAppId() returning null here
https://github.com/vaadin/multiplatform-runtime-internal/blob/master/mpr-core/src/main/java/com/vaadin/mpr/core/client/AbstractMprUIContentConnector.java#L128

We managed to get rid of this issue by refactoring some code we had in attach (server side) of a view to be executed later and calling super.attach() before doing anything e

[2019-10-11 10:25] TatuLund commented on #56
One possible explanation for this could be that PopupExtension, especially code here, which tweaks the UI

https://github.com/parttio/PopupExtension/blob/master/popupextension-addon/src/main/java/org/vaadin/addons/popupextension/PopupExtension.java#L95

[2019-10-11 12:56] mehdi-vaadin commented on #54
@TatuLund did Leif guess correctly? Does the exception happen when you open multiple tabs?

[2019-10-11 12:59] TatuLund commented on #54
@mehdi-vaadin no, we have observed it also in single browser tab scenario. I have created also another ticket #56, which is earlier observation. Once we made workaround for that, this issue (#54) emerged. We are trying now to investigate possible role of Vaadin 7 add-on (PopupExtension) in this case.

[2019-10-11 13:21] mehdi-vaadin commented on #54
@TatuLund please inform us about the conclusion of the investigation on the add-on.

[2019-10-15 08:40] denis-anisimov commented on #56
Does it happen if you remove `PopupExtension`  ?

[2019-10-15 08:43] TatuLund commented on #56
We have now version running since in our test environment without PopupExtension and at the moment it looks like https://github.com/vaadin/multiplatform-runtime/issues/54 does not occur.

[2019-10-15 22:30] mobileWMS opened #57 "Vaadin 7 FileDownloader sizing issue"
I have a weird problem with my MPR + Vaadin 7 app. When I click "Download Csv" button to initiate a CSV file download, it resizes the screen incorrectly.  What it does wrong is add vertical and horizontal scrollbars.  With my pure Vaadin 7 app, it does not do this.

The biggest difference between the two versions is that in MPR + Vaadin 7 branch of the code, I have to pass the flow UI and VaadinSe

[2019-10-16 05:03] TatuLund commented on #54
@mehdi-vaadin Removal of the add-on did not help.

We have some additional data that indicates that the test users in US had more occurrences of this issue than users in Finland. The server is in Finland, so that gives indication that added latency could make this more likely.

[2019-10-16 17:18] Legioth commented on #54
I had misunderstood the purpose of the `ui` parameter in the request. That parameter defines the id of the Flow UI from which the newly created MPR UI should find its contents - it has nothing to do with the id of the MPR UI. This means that we're back at square one when it comes to guesses about the cause of this problem.

It still seems like `doInit` is run multiple times for the same UI instanc

[2019-10-21 08:36] johannest commented on #54
Happened to me now locally after page refresh of V13 view in the same MPR application as Tatu uses
Win 10 Pro
Chrome
Vaadin 7.7.17
Platform 13.0.13
Mpr-v7 2.0.0

[2019-10-21 09:38] caalador commented on #54
Could you do a build of branch issues/54_lock-for-getContent and test if the exception still happens, as I don't have a project that I could replicate the exception with.

[2019-10-21 09:57] Legioth commented on #54
@caalador So your hypothesis is that someone is calling `getContent` without already having the UI instance locked? Wouldn't it in that case be more appropriate to test that the UI session is locked by the current thread?

[2019-10-21 10:31] johannest commented on #54
We will try that one

[2019-10-23 10:38] johannest commented on #54
@caalador @Legioth The fix didn't help, the issue is still there

[2019-10-23 11:50] johannest commented on #54
If we can catch this with debugger, what information would help you/us to best find out the root cause?

[2019-10-31 12:14] TatuLund commented on #54
We have observed client side exception happening on Vaadin 7 widgetset at the same time the error happens (unfortunatelly widgetset was obfuscated)

Thu Oct 31 14:01:56 GMT+200 2019 com.vaadin.client.communication.Heartbeat
INFO: Setting hearbeat interval to -1sec.
com.myapp.ui.desktop.DesktopWidgetSet-0.js:4513 Thu Oct 31 14:01:56 GMT+200 2019 com.vaadin.client.VConsole
INFO: New window width: 15

[2019-11-04 13:43] KyleRogers commented on #19
This issue is linked on the [limitations page for Vaadin MPR](https://vaadin.com/docs/v10/mpr/configuration/limitations.html). Could you please document the state of this issue and clarify affected scenarios and workarounds?

- Was this issue solved or does it persist and was classified as "won't fix"?
- Does this issue effect hot swap using IDEs such as Eclipse or IntelliJ?
- Or does this issue e

[2019-11-05 08:49] TatuLund commented on #54
According the experimentation we have done this issue seems to happen only when closeIdleSession=true.

[2019-11-06 13:17] denis-anisimov commented on #54
Could you please try this branch  https://github.com/vaadin/multiplatform-runtime-internal/tree/54-avoid-reinit-fw-ui and let me know whether the issue is reproducible with it ?

[2019-11-06 14:43] TatuLund commented on #54
I made new snapshot build for testing this. I let you know how it works.

[2019-11-06 14:44] denis-anisimov commented on #54
Thank you.

[2019-11-12 13:31] joheriks commented on #54
Closed by https://github.com/vaadin/multiplatform-runtime-internal/pull/342

[2019-11-12 13:31] #54 closed

[2019-11-16 21:43] mobileWMS opened #58 "MPR + Vaadin 7 screen resolution sensitivity"
MPR + Vaadin 7 is much more sensitive to resolution changes then the corresponding pure Vaadin 7 app.  Certain places add full browser scrollbars in MPR + Vaadin 7 that do not for pure vaadin 7.

Resolution: [1920 x 1080, 150%](https://i.postimg.cc/XvmpW3Tg/Resolution-For-Vaadin-Test.png)
Pure Vaadin 7 app looks perfect: [here](https://i.postimg.cc/Rh08T5Zj/Veeder-Pure-Vaadin7-Plan-Form.png)
MPR +

[2019-11-25 13:22] mstahv opened #59 ""hidden" scroll bar that you need to reveal by panning in order to scroll the view."
Feedback from a customer: with their app there is "hidden" scroll bar that you need to reveal by panning in order to scroll the view. This does not happen with Vaadin 7 native, only with MPR.

Screenshots and more details in prodpad: https://app.prodpad.com/feedback/418522/canvas

[2019-11-25 13:56] mehdi-vaadin commented on #59
It might be a duplicate of #58.

[2019-11-28 07:00] TatuLund commented on #56
We have now spotted another client side exception

Caused by: com.google.gwt.core.client.JavaScriptException: (TypeError) : Cannot set property '__listener' of undefinedCaused by: com.google.gwt.core.client.JavaScriptException: (TypeError) : Cannot set property '__listener' of undefined at Unknown.com_google_gwt_user_client_impl_DOMImpl_setEventListener__Lcom_google_gwt_dom_client_Element_2Lcom_go

[2019-11-29 13:11] mehdi-vaadin commented on #58
@mobileWMS thanks for reporting this issue. Can you please help us and share a minimal reproducible example of it? Reproducing this issue and then fixing it with the current information would be really difficult.

[2019-11-29 13:20] mehdi-vaadin commented on #59
I'm closing this in favor of #58

[2019-11-29 13:20] #59 closed

[2019-12-05 14:35] TatuLund commented on #58
This could be related https://github.com/TatuLund/devday-demo-flow/blob/master/src/main/java/com/vaadin/devday/demo/views/GridView.java

See the proposed workaround in the linked discussion thread.

[2019-12-05 17:19] mobileWMS commented on #58
What discussion thread?

[2019-12-05 17:59] TatuLund commented on #58
@mobileWMS , sorry I had copied wrong link, corrected now.

[2019-12-05 18:35] mobileWMS commented on #58
Yep, already do that, BUT maybe I should experiment more inside that browser resize listener.  In my case, the user with the different resolution is not actually changing things, resizing the browser ( at least not after he does his initial setting of resolution ).  I have to in order to repeat his issue, of course, but in his case, with no change to browser size or resolution, one browser tab wit

[2019-12-19 12:09] TatuLund commented on #56
It is also possible that this client side error from Flow client side is related as it indicates that https://github.com/vaadin/multiplatform-runtime-internal/blob/501c0cf1f8c59a9d6d0c828636f0ceb5b4383433/mpr-core/src/main/java/com/vaadin/mpr/core/AbstractLegacyEmbed.java#L117 does not work as https://github.com/vaadin/multiplatform-runtime-internal/blob/772c95933f716c6c6edd4463ff97899110a7419e/mp

[2020-02-05 12:32] mvysny opened #60 "NPE in MprUIInitHandler.synchronizedHandleRequest"
Vaadin 8.9.4+14.1.16, MPR 2.0.1. The original bug report is located at https://gitlab.com/mvysny/vaadin14-mpr-gradle-demo/issues/3

When I launch a Gradle-based MPR project in Intellij Ultimate in Tomcat and navigate to http://localhost:8080, the page flickers and there is a NPE in the log. Workaround is to press F5 which reloads the page and everything starts to work properly.

Stacktrace:

[code

[2020-02-13 17:15] mobileWMS commented on #57
Any status on this?  Any work around?  Since I don't really understand the problem, I don't know how to work around it.

[2020-02-17 07:12] mvysny opened #61 "Please add AbstractMprRouteAdapter without the WildcardParameter catch-all"
A typical migration from Vaadin 8 to Vaadin 14 is to wrap every View at some point in AbstractMprRouteAdapter. However, every AbstractMprRouteAdapter has a wildcard parameter, which makes the app impossible to return a 404 on missing view, especially if the main view (mapped to route "") is also an AbstractMprRouteAdapter.

It would be great for the programmer to choose between AbstractMprRouteAda

[2020-02-17 07:14] mvysny opened #62 "StringIndexOutOfBoundsException when MainView is AbstractMprRouteAdapter and navigation is performed to non-existing view"
Vaadin 14.1.16, MPR 2.0.1

If you have a MainView extending AbstractMprRouteAdapter mapped to an empty route (""), then any navigation to a non-existing view fails within the AbstractMprRouteAdapter with:

[code]

[2020-02-17 12:34] jcgueriaud1 opened #63 "Cannot select an element inside V8 combobox in a V14 dialog"
Hi,

I cannot select a value inside V8 combobox with the mouse if the combobox is in a V14 Dialog.

Steps to reproduce:
* Open a V14 Dialog with a V8 combobox.
* Click on the combobox
* Value can be selected with the keyboard but not with the mouse

This is probably because the V8 overlay is inside the body and not inside the vaadin-dialog-overlay.

One workaround is to add this in your main style

[2020-02-18 09:07] jcgueriaud1 commented on #63
I don't know if it's a bug, but it may be documented as a limitation (if the workaround does not work as expected) and also V8 Window/ V14 Dialog "incompatibility".

[2020-02-19 09:23] mvysny opened #64 "Please add support for retrieving LegacyWrapper instance for a wrapped Component"
Sometimes e.g. a security framework may require one to traverse the component tree, collect all security annotations and evaluate them.

However, with mixed V8-V14 code, it's not possible to cross the boundary to the containing V14 LegacyWrapper from a Vaadin8 Component: the getParent() will eventually lead us to `MprUIContent`, then to `MprUI` which has `null` parent.

It would be great to have a

[2020-02-19 09:31] mvysny commented on #64
Workaround is to find all LegacyWrappers attached to V14 UI by iterating UI's descendants, and find LegacyWrapper with getLegacyComponent() pointing to the component in question. Optimization: only a component with AbstractMprUIContent as its parent is wrapped in a LegacyWrapper.

[2020-02-20 00:37] mobileWMS commented on #58
See attached.  I simply went to a tutorial provided by you guys [here](https://vaadin.com/learn/training/v10-migration-mpr) and did the following:

1. Downloaded the excercises
2. Moved dashboard and solution-dashboard to my eclipse folder
3. Changed my resolution to match what I said above
4. Ran each with "mvn jetty:run"
5. For "dashboard", I got a [perfect experience](https://i.postimg.cc/rp4Bf

[2020-02-20 22:49] mobileWMS commented on #57
I made some demo apps based on the examples from [here](https://vaadin.com/learn/training/v10-migration-mpr).  What I did was the following:

1. Copied dashboard and solution-dashboard to my eclipse workspace
2. Trimmed almost everything to make it smaller
3. Added download button to dashoard and transactions

So in theory the two applications should be the same, except for MPR stuff.

Display set

[2020-02-20 23:10] mobileWMS commented on #58
I made trimmed down versions based on that tutorial, and here is the information.

Display settings: [here](https://i.postimg.cc/JzN8byYP/Display-Settings150-Resolution-Test.png)

Pure vaadin 7:
1. [trimmed-dashboard.zip](https://github.com/vaadin/multiplatform-runtime/files/4233332/trimmed-dashboard.zip)
2. [Transactions (note that there is no bar at bottom)](https://i.postimg.cc/Y9hqfrW0/dashboa

[2020-02-22 20:52] mobileWMS commented on #57
Same thing happens when I upgraded to 14.1.17, see [my project](https://github.com/mobileWMS/solution-dashboard).

[2020-02-24 10:32] TatuLund commented on #58
In case you have issue not in browser resize, you can do the JavaScript call of vaadin.forceLayout() also after Vaadin 7 component has been attached.

[2020-02-24 17:37] mobileWMS commented on #58
Would this also work for the FileDownloader problem ( #57 )?

[2020-02-25 04:18] mobileWMS commented on #58
I added it to the end of the `DashboardEntryPoint()` contructor, after everything was added, and it did not fix things ( see trimmed solution-dashboard for the original code, before my change below ):
[code]

That said, maybe it needs to be added someplace else?  I mean, this is the only place I explicitly add Vaadin 7, but maybe this is not the correct place to add this line of code?

[2020-02-25 06:11] TatuLund commented on #58
You should not add browser resize listener in constructor, but onAttach and remember to unregister it onDetach, I copied the workaround example from Forum here:

[code]

[2020-02-25 07:34] caalador commented on #62
What would be the expected outcome for the non existent navigation?
The RouteAdapter is a wildcard adapter so we can show the page without the params or we could redirect to route not found error page. Not certain what the expectation should be...

[2020-02-25 07:46] mvysny commented on #62
Hard to say. Technically AbstractMprRouteAdapter accepts a wildcard - any path or anything after the view name. That technically makes AbstractMprRouteAdapter a catch-all page. We either leave this as-is (and introduce AbstractMprRouteParameterlessAdapter, and just fix the StringIndexOutOfBoundsException), or we introduce a special case for `"/"`-mapped AbstractMprRouteAdapter which would accept n

[2020-02-25 07:49] mvysny commented on #62
However, there is a bug #61 where we can discuss this (potentially breaking) change.

Therefore, in this bug I'd propose to simply leave everything as-is and just fix the StringIndexOutOfBoundsException.

[2020-02-25 08:42] petrixh opened #65 "Non-vaadin initiated session timeout with MPR triggers IllegalStateException : Session Already Invalidated"
In a project running:
Vaadin 14.0.10, Vaadin 8.9.1
MPR 2.0.0
SpringSecurity
Tomcat

Original ticket in Vaadin internal repo: https://github.com/vaadin/multiplatform-runtime-internal/issues/340

When the user's session times out or is killed by 3 missed heartbeats, or by spring security's logout URL we see an exception in the logs about the session already being invalidated.

There's quite a bit of

[2020-02-25 18:07] mobileWMS commented on #58
Good catch.  I copied it from one of the tutorials, and did not even remember that little nuance.  Regardless, it did not  fix my issue.  My issue is not a "resize" issue, it is a "resolution" issue.  In other words, unlike me, the user keeps the same resolution all the time, they hardly ever change it ( or zoom in or out via the browser, since the "zoom" level is where they want it ).  I am chang

[2020-02-26 08:01] mehdi-vaadin opened #66 "Release MPR 2.0.2"
After https://github.com/vaadin/multiplatform-runtime-internal/pull/363 is merged and cherry-picked to branch `2.0`

[2020-02-26 08:11] #62 closed

[2020-02-27 11:37] #66 closed

[2020-02-28 21:10] mobileWMS commented on #57
@pleku , since you marked this as low impact and minor severity, maybe you know of a workaround?  Because it is almost a show stopping issue in our case, as you can see from my example code.  Yes, users can still use the site, but it is very confusing and potentially dangerous as vertical scroll bars tied to a table or grid could be off the edge once the download completes ( under browser vertical

[2020-03-03 10:31] mvysny opened #67 "mpr-core depends on SNAPSHOT version of flow-server"
mpr-core 2.0.1 pom.xml depends on a SNAPSHOT version of flow-server. That later wreaks havoc in Gradle since Gradle resolves version conflicts differently than Vaadin and prefers highest version:

[code]

[2020-03-03 10:31] mvysny commented on #67
mpr-core 2.0.2 depends on flow-server 2.2-SNAPSHOT.

[2020-03-04 08:38] mehdi-vaadin opened #68 "Release 2.0.3"
#67 should be fixed

[2020-03-04 08:40] mehdi-vaadin opened #69 "Release 3.0.1"
#67 should be fixed.

[2020-03-05 16:01] mehdi-vaadin commented on #67
I added the `flow.version` parameter to the MPR release build in TeamCity. It should fix the problem. Should be verified when the next version of MPR is released.

[2020-03-05 16:01] mehdi-vaadin commented on #69
https://github.com/vaadin/multiplatform-runtime/issues/67#issuecomment-595306472

[2020-03-05 16:01] mehdi-vaadin commented on #68
https://github.com/vaadin/multiplatform-runtime/issues/67#issuecomment-595306472

[2020-03-09 11:17] #65 closed

[2020-03-09 12:45] #69 closed

[2020-03-10 10:09] mehdi-vaadin commented on #29
@alump was your PR (https://github.com/vaadin/multiplatform-runtime-internal/pull/339) an attempt to fix this issue?

[2020-03-10 10:37] caalador commented on #29
@mehdi-vaadin #339 was repaced and fixed with #358
So this should be marked as closed I guess.

[2020-03-10 11:04] mehdi-vaadin commented on #29
I noticed that. But, I didn't see any explicit relation between this and either of those. Just wanted to make sure.
Ok, I'm closing this :)

[2020-03-10 11:04] #29 closed

[2020-03-10 11:13] #68 closed

[2020-03-10 11:17] mehdi-vaadin commented on #67
It's fixed in the latest release of MPR which is 2.0.3.

[2020-03-10 11:17] #67 closed

[2020-04-02 10:19] SebastianKuehnau opened #70 "V7/8-Component can't be reused in a new LegacyWrapper"
I have a v7 component inside a `LegacyWrapper` on a v14 layout and I wanted to remove the legacy component and add it in a new `LegacyWrapper`. But the v7 component didn't show up in the new `LegacyWrapper`.

I could reproduce it with the following code snippet:

[code]

I tested it with Vaadin 14.1.23.

[2020-04-02 10:51] johannest opened #71 "mpr-v7 table column selector positioned wrongly when the table is bottom of tall view"
Vaadin 7.7.17
Platform 14.1.19 (also tested with 13)
mpr-v7 2.0.3
Chrome & Firefox (at least)

When there is a tall view in small browser window such that the table in a legacy wrapped layout has to be scrolled into the viewport. Then, opening the column selector of the table shows the context menu with significant offset from the column menu button. See the screenshot below:

![image](https://use

[2020-04-02 12:19] SebastianKuehnau commented on #70
a workaround would be to put the legacy component inside a new component container of the legacy framework.

[code]

[2020-04-15 07:33] mehdi-vaadin commented on #71
The bug is on V7 side. It will be fixed by https://github.com/vaadin/framework/pull/11946. See the PR for more info.

[2020-04-16 08:55] mehdi-vaadin commented on #71
https://github.com/vaadin/framework/pull/11946 has been merged and I'm closing this issue.

[2020-04-16 08:55] #71 closed

[2020-04-16 17:57] SebastianKuehnau commented on #70
another workaround to display the legacy component in a different `LegacyWrapper` is to set the parent of the legacy component to `null`.

[code]

[2020-05-13 12:57] SebastianKuehnau opened #72 "setVisible(false) to container element with a LegacyWrapper leads to client side error"
When I add a Legacy Wrapper with a V7/8 component to a container element and set it visibility to false, I will get the following error in the browser:

[code]
 After analyzation @pleku and me found out, it is caused by the AbstractMprUIConnector in line 135 `Element wrapperElement = getWrapperElement(appId, nodeId);` when getting the LegacyWrapper from a node which is not attached to the containe

[2020-05-13 13:08] pleku commented on #72
The same client side JS error also is happening in #13 and #56 even thought in different scenarios. The fix for this issue should improve the error message so that it is clear that what component's wrapper cannot be found from the state tree. Preferably the client side JS error should also be made visible in the browser in devmode, I don't know why it is not so for MPR.

[2020-06-10 10:08] denis-anisimov commented on #53
Please provide steps to reproduce.

[2020-06-29 07:31] #72 closed

[2020-07-01 06:24] pleku opened #73 "Release MPR 2.0.4"
Based on Flow 2.2.3.

Cherry-pick at least license checker update (#402) and bpf fix (#405) from `master`.
https://github.com/vaadin/multiplatform-runtime-internal/compare/2.0...master

Probably good to try cherry picking other recent changes.

[2020-07-01 06:26] pleku opened #74 "Release 3.0.2"
Based on Flow 3.1.1

[2020-07-13 06:23] mshabarov commented on #74
https://github.com/vaadin/multiplatform-runtime-internal/releases/tag/3.0.2

[2020-07-13 06:23] #74 closed

[2020-07-15 15:27] Ansku opened #76 "Dialog size information isn't communicated properly to MPR"
In 14.2 branch V8 contents within a Dialog have their layouting triggered before Dialog gains its actual size, and the layouting isn't retriggered once that has happened. Likewise it's not triggered if the Dialog's size is changed either manually or programmatically. For elements that have programmatically calculated fixed sizes, such as TabSheet contents, this leads to too small final sizes.

Tes

[2020-07-17 07:06] #73 closed

[2020-07-28 12:03] jcgueriaud1 commented on #63
You will have the same problem for a Vaadin 7/8 Datefield.

The dialog will close when you choose a date if the dialog is setCloseOnOutsideClick(true).

It's because the V7/8 overlay is outside the dialog (from a dom perspective).
As a workaround you can setCloseOnOutsideClick(false)

[2020-08-05 11:26] mvysny commented on #60
Sounds like `AbstractMprUIContent` is constructed at `AbstractLegacyWrapper:182` when the wrapper itself is attached to V14 UI; however there could be a race condition where `MprUIInitHandler` is invoked sooner. Can somebody explain in what scenario this could occur?

[2020-08-05 11:44] mvysny opened #75 "NPE in AbstractLegacyEmbed.setRequest()"
Greetings, Vaadin 8.8.5, MPR 2.0.3 (probably - need to verify). I have the following stacktrace:
[code]
The NPE most probably happens because `legacyRequest` is null at `AbstractLegacyEmbed:142`. We need to understand why the `VaadinService.getCurrentRequest()` could possibly return null, in order to understand what's going on and possibly design a workaround. At which point the V8 current request

[2020-08-07 09:40] TatuLund commented on #60
Regarding the same classes client side counter parts I have observed some oddness in client side as well https://github.com/vaadin/multiplatform-runtime/issues/56

[2020-08-10 06:59] caalador commented on #75
Which Flow & Paltform version?
The client-side stops due to the fact that it's waiting for a response from the server which it doesn't get as the response is not scheduled due to the npe.

[2020-08-10 08:44] caalador commented on #75
On route to check would be to check that are the fallback resolvers set to the CurrentInstance or are they for some reason left out e.g. AbstractMprServlet::init is not executed or the if is skipped without the resolvers having been set even once.
As the flow request is there due to the rpc request, and with the fallback resolver we should always get a FW request as a MprRequest that is created in

[2020-08-10 09:27] mvysny commented on #75
Sorry for missing info, it's Vaadin 14.2.3, flow 2.2.3, MPR 2.0.3.

This is precisely the kinds of checks which I had in mind for the MPR to perform. It's much easier for the MPR to examine the environment in production than for a programmer; the programmer may not even know which bits to check.

Could it be that Spring might not be calling AbstractMprServlet::init in a special environment for som

[2020-08-10 09:34] caalador commented on #75
So the Spring spoon is also in the soup?

[2020-08-10 09:42] mvysny commented on #75
Yes, unfortunately.

[2020-08-10 14:22] mvysny commented on #75
The `VaadinServlet.init(ServletConfig)` calls `super.init(ServletConfig)`  which calls `GenericServlet.init()` which calls `AbstractMprServlet.init()` which lets an not-yet-initialized servlet escape to a static context

I'm hardening the MPR and reworking the initialization to be safer.

[2020-08-17 06:41] #75 closed

[2020-09-02 09:29] denis-anisimov commented on #53
No any response so I'm closing the ticket.

[2020-09-02 09:29] #53 closed

[2020-09-03 12:52] pleku commented on #76
Transferred to MPR as it was not dialog specific nor should there be anything done for this in dialog.

[2020-09-11 07:43] mvysny opened #77 "Vaadin 8 prints warning: Vaadin depends on Atmosphere 2.4.30.slf4jvaadin1 but version 2.4.30.vaadin1 was found."
MPR 2.0.5, Vaadin 8.11.3, Vaadin 14.3.5.

When using MPR, Vaadin 8 will print the following warning message:

[code]

Vaadin 14 depends on atmosphere-runtime version 2.4.30.slf4jvaadin1 while Vaadin 8 still depends on the older version 2.4.30.vaadin1. Is the newer version fully backwards compatible so that I can use it also with Vaadin 8? As far as I can see the older version depends on com.vaadin

[2020-09-11 07:53] mvysny opened #78 "Introduce a compatibility chart in readme.md"
Currently there are multiple releases of MPR: 2.0.5, but also 3.0.2 and 4.0.0 (see https://github.com/vaadin/multiplatform-runtime/tags ), yet it's not clear which version is compatible with which Vaadin 8/14/17 version. This information is present at https://vaadin.com/docs/v10/mpr/introduction/step-1-maven-v8.html but it's hopelessly outdated (uses MPR 1.1.1 at the time of writing).

Could you p

[2020-09-11 10:29] pleku commented on #78
The MPR version is managed by `vaadin-bom` for the users. So when they use that, they get the correct version always.
https://github.com/vaadin/platform/blob/master/versions.json#L76

I don't see the added value of adding the readme just for one project as it would be outdated like documentation which to you refer to - we simply will not keep updating documentation for old platform versions.

[2020-09-11 10:29] #78 closed

[2020-09-11 10:31] pleku commented on #78
This fact is even said in the very beginning of the linked documentation for v10

[2020-09-11 12:09] mvysny commented on #78
Thank you, that's excellent to know. In such case I think it would be beneficial for anybody interested to use MPR to have exactly the information stated in the README.md.

[2020-09-11 13:09] mvysny commented on #78
https://github.com/vaadin/multiplatform-runtime/pull/79

[2020-09-23 06:30] mvysny opened #80 "NPE in ServerRpcHandler.handleRpc():223"
My app is failing with

[code]

This looks similar to #75 but it's caused by something else: in this case the `mprUIContent.getUI()` returns null since the `mprUIContent` never got attached. It's a mystery why `mprUIContent` never got attached yet it received a RPC call.

Vaadin 8.11.3, 14.3.7, MPR 2.0.5.

[2020-09-23 06:31] mvysny commented on #80
Posting a couple of tips from @TatuLund

* Does the project have custom components / views that override `attach()` method? Verify that `super.attach()` is called first.
* If there is some heavy operation done in `attach()` and `super.attach()` called after that, it could lead to to timing issues.
* Also have you verified that there has not been client side exception, that has lead to incomplete a

[2020-09-23 06:34] mvysny commented on #80
I've discovered the cause of the problem: my UI forgot to call `super.init(vaadinRequest);` from its `init()` method.

We should harden MPR to fail with an informative error message in such cases: by default UI.init() does nothing, therefore Vaadin 8 apps can get away with not calling `super.init()`.

[2020-09-29 06:22] caalador commented on #80
The documentation states that after migration you should not have a custom UI class left.

Then also noted in the advanced section: [Using a custom legacy UI class](https://vaadin.com/docs/v14/mpr/configuration/custom-ui.html)
There us a big note `You need to call super.init(request) if you need to override the init method`

[2020-09-29 06:28] mvysny commented on #80
The migration with MPR may be ongoing for entire year, which will pretty much require the custom UI class to be present in the project for the entire year.

Yes. In a perfect world that remark would suffice. Unfortunately, people don't read manuals. Also, when migrating MPR, there are gazillion steps to take, and it's easy to forget to check everything. Also, the code base under migration is usual

[2020-10-02 05:07] TatuLund commented on #77
When taking MPR into use with Vaadin 8 project, you should remove "vaadin-push" dependency. Vaadin 8 Push is not used, since all Push activity is routed via Flow server and Flow version of Push implementation should be used. Normally flow-push is included in Vaadin BOM and no separate dependency is needed. Question is, is this piece of information missing in the documentation?

[2020-10-02 05:46] mvysny commented on #77
imho Vaadin 8 complains about the version of the atmosphere library. vaadin-push transitively depends on atmosphere 2.4.30.slf4jvaadin1 and that's what Vaadin 8 expects. Yet flow-push depends on atmosphere 2.4.30.vaadin1 and thanks to Vaadin BOM that one gets picked. Removing vaadin-push will not change atmosphere version, and hence will not prevent Vaadin 8 from complaining about the atmosphere v

[2020-10-07 11:42] pleku commented on #13
My bet is that this is resolved by the fix for #72. In case it is not, please comment here or open a new issue.

[2020-10-07 11:42] pleku commented on #56
My bet is that this is resolved by the fix for #72. In case it is not, please comment here or open a new issue.

[2020-10-07 11:42] #56 closed

[2020-10-14 09:26] #23 closed

[2020-10-14 09:26] #76 closed

[2020-10-19 09:00] caalador commented on #77
This would need changes to the Framework side as it's a static call on VaadinService creation `private boolean atmosphereAvailable = checkAtmosphereSupport();` where `private static boolean checkAtmosphereSupport() {`

[2020-11-30 10:45] pleku commented on #77
Apparently fixed on FW8 side as the check is now done later on.

[2020-11-30 10:45] caalador commented on #77
Mpr needs to override the method so that the FW one is not executed.

[2020-12-02 13:27] johannest commented on #13
Seems to reproduce still. Bigger multimodule mpr V7 - V14 project:
V 7.7.17 and 14.4.4, mpr-v7-2.0.6
Happens usually when reloading the page containing a legacy view.

`Uncaught TypeError: $0.firstElementChild.setResponse is not a function
    at Object.eval (eval at cu (client-C4B53966888EAB6CBD0D20BD246409CB.cache.js:1), <anonymous>:3:22)`

Un-obfuscated stack trace
[code]

[2020-12-03 07:49] johannest commented on #13
When using a production build this error disappears.

[2021-02-09 21:31] mobileWMS commented on #57
What is the status of this?  I linked an example project, so in theory you should have a decent test case.  I don't currently use MPR, but we might need to in the next year as we restart the upgrade to Vaadin 14, so wanted to followup on this.

[2021-02-09 21:31] mobileWMS commented on #58
What is the status of this?  I linked an example project, so in theory you should have a decent test case.  I don't currently use MPR, but we might need to in the next year as we restart the upgrade to Vaadin 14, so wanted to followup on this.

[2021-02-16 12:51] TatuLund opened #81 "Regression: MPR v2.0.6 does not work with IE11"
Technique used to fix the issue https://github.com/vaadin/multiplatform-runtime/issues/76 is using ResizeObserver in native JavaScript call in the client side code, that is not going thru frontend bundling and thus not getting polyfilled. According to CanIUse, (see https://caniuse.com/?search=resizeobserver) ResizeObserver is not supported by IE11.

[2021-02-17 06:57] pleku commented on #81
There is at least a polyfill available which should work with IE11 https://www.npmjs.com/package/resize-observer-polyfill and it is even available via Bower if someone needs it for a webjar in compatibility mode. Including it to the project should be considered a workaround for now.

For addressing #76, maybe the code that sets up the resize observer should be moved to to a js-connector file that

[2021-02-25 16:58] javier-godoy opened #82 "Legacy wrapped components do not inherit disabled state from its container"
When a view that `HasLegacyComponents ` is disabled, only the Flow components are disabled.
(Vaadin 14.4.1 / 8.12.1)

In the following example, the button and the legacy textfield are not disabled:
[code]

As a workaround, disable each legacy component separately:
[code]

[2021-03-16 12:30] Tostino commented on #60
Also getting similar error, this is happening many many times a day at this point:
[code]

[2021-03-17 11:23] #81 closed, assigned to mshabarov

[2021-03-29 15:30] #77 closed

[2021-04-12 10:21] TatuLund opened #83 "@LegacyUI, @MprTheme annotations do not work with HasUrlParameter"
Vaadin versions 14.5.1, 8.12.4

@LegacyUI, @MprTheme, ... annotations do not work with HasUrlParameter

Install and deploy the attached test application

Type http://localhost:8080/other/parameter in address bar and press enter.

Exception with root cause like below is thrown

Caused by: java.lang.ClassCastException: class com.vaadin.mpr.MprUI cannot be cast to class org.vaadin.mprdemo.OldUI (com.

[2021-04-28 05:32] #83 closed, assigned to caalador

[2021-05-11 07:51] rolandbinder commented on #60
Hi, I am getting the following error:

[code]

[2021-05-12 07:19] pleku opened #84 "Spike on implementing ViewScope for MPR-Spring"
Outcome is to see if it can be doable in a reasonable time. The other alternative we have is to just document the migration to use @RouteScope instead, but as that is a lot of more work, it would be great if MPR could have the added value of `@ViewScope` annotation that just works like in v7/v8.

It is enough to look at this for Spring projects for now.

[2021-05-20 06:01] denis-anisimov commented on #84
`@RouteScope` without a `@RouteScopeOwner` may be used as a replacement for `ViewScope`  in case every view is Flow route target component.
Spring V8 add-on functionality is required to support V8 `ViewScope` (so it should be ported as additional Srping add-on for MPR).

[2021-05-20 06:01] #84 closed, assigned to denis-anisimov

[2021-05-21 08:32] pleku opened #85 "PreserveOnRefresh is broken with MPR"
Based on https://github.com/vaadin/multiplatform-runtime-internal/issues/473.

Apparently v7 and v8 framework code, the parts used with MPR, writes its own `window.name` and thus it breaks flow `@PreserveOnRefresh` feature since tha name doesn't match what is expected from Flow side.

Fixing this requires probably changes to both v7 and v8 to be able to tell it to "not touch window.name". Another

[2021-05-27 09:49] caalador opened #86 "Async request breaks Vaadin 14 MPR UI"
Copy from issue made by @TobseF

### Problem
We are migrating our monolithic business app with the MPR to Vaadin `14.4.8`. But in the current state our app is very unstable and often breaks with a "frozen UI". The page loads all content, but it never stops showing the loading indicator and shows a JS Error message.

### ⚠ JS Client Error

[code]
<img width="785" alt="2021-05-20_12h42_17" src="http

[2021-05-27 11:17] pleku commented on #86
Since there is no exact code to reproduce the issue, I need to ask some clarifying questions:

a) Do you mean that this only happens for the initial page render ? For example when refreshing the page ?

b) Is the `UI` object instance where the `access` callback is being invoked of type class `MprUI` or `UI` ? Based on the JS exception it should be `MprUI` but just to be sure

[2021-05-27 16:13] ToScope commented on #86
a) Our test starts with a very simple Vaadin Flow page (in the same app, `SampleUI`), before it switches to our main application where this error happens. So it's not the initial render of the browser, but the seconds main-app page uses another UI (`FrontendUI`). By switching to the different UI, the browser reloads many files.

b) Both, `SampleUI` and FrontendUI` extend the `MprUI`.

[2021-05-28 11:36] pleku commented on #86
Ok now I would be even more interested in getting the code to reproduce this to safe time.
How is the _switching_ happening between the two UIs ? Is there some redirect ? How is that done ?

And I need to ask that what is the purpose of switching between the UIs ? Why would you not have just one UI and then switch the shown Flow routes instead that encapsulate the legacy parts inside it ? I don't

[2021-05-31 09:42] TobseF commented on #86
For now, we don't have a minimal example to demonstrate the problem. As you mentioned, it's not clear if using multiple UIs in the same app is working. From the Vaadin support, I got answers from... "_RTFM this is not supported_", to "_yes, in your setup this should work_".
The MPR [migration guide](https://vaadin.com/docs/v10/mpr/configuration/limitations) says _"Multiple UIs are not supported"_.

[2021-05-31 13:34] pleku commented on #86
To be concrete, In our application we have 11 different UI-classes. If possible, we want to avoid merging them together during the mpr migration.

I understand that you will be keeping this CSS as "v8 code", because for newer v14+ parts it is not even possible. Unless you customize the frontend build process somehow or dynamically inject the CSS/stylesheet that should be loaded, you will end up in

[2021-05-31 16:24] TobseF commented on #86
In the meantime I was able to get the JS stack trace. Therefore I upgraded our setup to Vaadin 14 version: `14.6.0` and Vaadin Flow Plugin version: `2.6.0`. This was needed, because of missing jfrog dependencies, which prevent to build flow 2.4.

In the flow project I set:
[code]
After building I included the client lib. Also had to exclude it on several places to make sure only the SNAPSHOT versi

[2021-06-01 07:55] TobseF commented on #86
The problem also occurs on a single UI just when reloading the page when the browser throttling is enabled. I checked this with the opened chrome developer tools with enabled caching. So it switching the UI or the page is not necessary to reproduce this error.

[2021-06-01 09:02] pleku commented on #86
@TobseF so are these steps to reproduce ?
1) any MPR application running in **production mode with frontend production build done**
2) open an MPR UI which schedules a thread that soon updates the UI through `ui.access`
3) setup chrome to throttle the network connection to `Fast-3G`.
4) reload the page -> error appears on browser

And I would just like to note that in my opinion it makes no sense

[2021-06-02 06:24] TatuLund commented on #86
Could this be linked to https://github.com/vaadin/multiplatform-runtime/issues/56

[2021-06-02 10:53] TobseF commented on #86
@pleku
1. Using `prepare-frontent` or `production mode` with `build frontend` doesn't matter. The problem occurs in both scenarios.
2. Yes, the async call is the problem. I was able to force the error with this snippet:
[code]
This is exactly which causes the exception as you can see the JS stacktrace:
⚡`Uncaught TypeError: $0.firstElementChild.setResponse is not a function`

<img width="500" alt=

[2021-06-16 13:16] raja0812 opened #87 "MPR Project with Vaadin7 and Vaadin14 is not working in Internet Explorer and Edge"
Hi,
We have configured our application with MPR
vaadin14 version :14.6.1
Flow version: 2.6.1
Vaadin7 version : 7.7.26
Vaadin mpr version: 2.2.0

Our main class is Extended from Flow Div. For all the Vaadin7 screens we get the Main Layout and then do a Legacy Wrap and add it to Flow Div. This works perfectly fine in Chrome. In Internet Explorer and Edge this is not working. The code is compiled in

[2021-06-17 07:22] pleku commented on #86
No, but probably exactly the same as #13

[2021-06-18 05:43] caalador commented on #87
I couldn't replicate this with any of our demos.
Is it a theme issue?
What versions of Internet Explorer and Edge is used?
Is it possible to have a minimal project that would replicate the problem.

[2021-06-18 06:42] raja0812 commented on #87
Hi,
The replication source code have been uploaded by my colleague against (VS-3852 Urgent: Prioritization of Theming Issue with IE and Edge browsers).
And the version of browsers are
Internet Explorer:  11.576.14393.0
Edge: 38.14393.0.0

Regards,
Raja Bhattacharjee

[2021-06-18 12:51] mshabarov commented on #86
I'm able to reproduce the same error by using `popup-button` test module/application and simply navigating to `With Grid` tab.
![Screenshot 2021-06-18 at 15 46 27](https://user-images.githubusercontent.com/61410877/122563547-003d2b00-d04d-11eb-87a8-eed12f7f1a06.png)

UPDATE:

It is only reproducible in dev mode.
The root cause of this is the missing `pom.xml` configuration of `popup-button` module

[2021-06-22 09:26] TobseF opened #88 ""Cannot run layout while processing state change from the server" Warning in MPR"
In our Vaadin 8 - Vaadin 14 Multiplatform Runtime ([MPR](https://vaadin.com/learn/training/v10-migration-mpr)) project we get a JS warning on every page:
[code]
This warning is defined in:
https://github.com/vaadin/framework/blob/ba02350206ef25f6c29618f3cf7458f43543f3e8/client/src/main/java/com/vaadin/client/LayoutManager.java#L42

## Problem
* What are the implications when we use our application

[2021-06-23 05:39] mshabarov commented on #86
I used the following, but still not able to reproduce the issue:
1. Use branch `2.0` of MPR project
2. Use `popup-button` test module
3. Added the plug-ins as described above.
4.  Add the following view:

[code]
5. Run the app, use both `Fast-3G` throttle and nothing, refresh the page many times. Everything works fine.

[2021-06-23 13:41] pleku commented on #87
Apparently this was not related to MPR code and handled through a EOD issue

[2021-06-23 13:41] #87 closed, assigned to nobody

[2021-06-24 05:51] mshabarov commented on #86
I managed to reproduce `setResponse is not a function` error (in ~5% of refreshes) with the same example as in my previous comment above, but with another delay: `Thread.sleep(500);`.  It depends on the machine where this app is running.
Here is a screenshot
![Screenshot 2021-06-24 at 8 38 34](https://user-images.githubusercontent.com/61410877/123208959-9bf4ee00-d4c8-11eb-8a19-671a4df136a9.png)

I

[2021-06-29 13:05] ZheSun88 commented on #86
This fix has been released with platform 14.6.5

[2021-07-01 09:34] TobseF commented on #86
Thanks for the platform release which to handle this bug. I tested the new `14.6.5` in our scenarios and indeed, the error message is gone. But the problem with the

is still present.

So this fix doesn't change our situation, that the MPR cannot be used for our application. This bug is critical for us, because it challenges our whole invest of 6 months work of migration. It breaks about 100 of ou

[2021-07-01 11:08] pleku commented on #86
@TobseF the issue with the JS exception, caused by push-message processing before the client-engine was initialized, was fixed so it is probably something else that is causing the loading indicator to stay. Or then the fix was inadequate.

In case the fix was inadequate, then yes, this issue could be reopened. For us it means that we should be able to reproduce it the same way, which I understood

[2021-07-01 11:18] pleku commented on #86
Based on another code review for the fix, @TobseF please wait until we double check that the fix is actually valid https://github.com/vaadin/multiplatform-runtime-internal/commit/ed3435c53d47a0f258b753020cf1ab45f102e735#r52907555 - I'm betting that in your case the initial UIDL response with the state has not been processed and thus the state is not correct when the push message is processed - whi

[2021-07-02 07:28] pleku commented on #86
We concluded that the fix made is not correct, and thus reopened the issue. Not sure if it even breaks your application more, but there is a high chance for that. Sorry for the inconvenience, we're looking at this.

[2021-07-02 13:09] pleku commented on #86
The second try to address the issue failed, but it is pretty clear now that the original fix (in Vaadin 14.6.5) is causing more problems when push is used immediately after the page was opened: when testing by refreshing the page, I see that the UI component will be in either
a) the state after push - correct
b) the initial state before the push - incorrect

[2021-07-13 19:06] pleku commented on #86
Version 2.2.2 is now fixed and it should handle the issue with the push messages. Should be in a Vaadin 14.6 release tomorrow.

If you run into further issues with your project, please work with the expertise team to create a new issue that has the necessary code and steps to reproduce the problem.

[2021-07-13 19:06] #86 closed, assigned to pleku, mshabarov

[2021-07-15 15:27] javier-godoy opened #89 "Tooltip doesn't always disappear on mouse out"
The tooltip displays fine, but doesn't always disappear when moving the mouse off: the same sequence of steps sometimes shows this behavior, sometimes it doesn't. It seems to depend on how many time was spent over the component associated with the tooltip and/or if the mouse was moved over that component and/or if the tooltip has been successfully displayed earlier.

![tooltip-v7](https://user-ima

[2021-07-23 07:30] #82 closed, assigned to caalador

[2021-08-02 11:34] #89 closed, assigned to nobody

[2021-08-04 16:52] raja0812 commented on #60
Hi,
Even I got  issue with the following versions
<vaadin.version>14.6.1</vaadin.version>
<flow.version>2.6.1</flow.version>
<vaadin7.version>7.7.26</vaadin7.version>
<vaadin.mpr.version>2.2.0</vaadin.mpr.version>

Error Stack trace is below

]] Root cause of ServletException.
com.vaadin.server.ServiceException: java.lang.NullPointerException: MprUIContent has not been initialized for '276c6ec7-b1

[2021-08-18 08:28] mletenay opened #90 "Two loading indicators are displayed at the same time"
Using Vaadin 20.0.6 + MPR 5.0.3, when longer operation (several seconds) is being executed both V20 and V8 loading indicators are displayed at the same time and _"Couldn't find the Flow loading indicator. Using an empty one."_ warning is logged in browser console.

The problem is very likely caused by the code of `com.vaadin.mpr.core.client.MprLoadingIndicator`.

As of Vaadin 20.0.6, the Flow's lo

[2021-08-18 08:35] mshabarov opened #91 "Page loading hangs if legacy wrapper is hidden"
### Description of the bug / feature

When the `LegacyWrapper` is being turned to hidden state (`.setVisible(false)`), or it is wrapped into a `div` which is hidden, then the initial page loading stucks with hanging and blinking loading indicator.
The page content itself is rendered fine.
As soon as the element is turned in visible state, the loading process completes fine.

### Minimal reproducib

[2021-08-19 16:21] #36 closed

[2021-08-23 11:49] #39 closed

[2021-08-24 08:53] #91 closed, assigned to mshabarov

[2021-08-25 08:24] mletenay commented on #85
I don't think plain v7 and v8 are to blame with messing the window.name.
As I mentioned in vaadin/flow#11279, the (changing) window name is a UUID.
So I followed its trail, put a breakpoint to UUID constructor and came to suspicion that it's actually MPR code which does this bad name changing.
The MPR sources are unfortnutelly not avaliable  ;-(, but the same UUID which is set to window.name gets

[2021-08-31 12:37] mshabarov commented on #90
Hello @mletenay, thanks for catching and reporting this issue.
Indeed, the loading indicator element has been changed in Flow 6.x, so the `MprLoadingIndicator::findFlowLoadingIndicator` got obsolete.
I've made a corresponding PR.

[2021-09-06 08:41] #90 closed, assigned to nobody

[2021-09-14 13:36] Michael-OTS commented on #60
Same problem after updating mpr-v8 from 5.0.3 to 5.0.4 with update to vaadin flow 21.0.1.

`
15:35:51,027 ERROR [stderr] (default task-2) java.lang.NullPointerException: MprUIContent has not been initialized for 'ee223455-795d-4799-9508-ac830247ea39' in current session. It should be added when the first LegacyComponent is attached. Please report this to https://github.com/vaadin/multiplatform-runt

[2021-09-14 15:07] Michael-OTS commented on #60
Problem was reappearing with mpr-v8 5.0.4

[2021-09-20 06:32] mstahv opened #92 "Multiplatform Runtime does not work in OSGi environment"

[2021-09-24 06:49] TatuLund opened #93 "IllegalStateException can occur when MPR removes session attribute"
Please take a look at following trace:

Caused by: java.lang.IllegalStateException: removeAttribute: Session already invalidated
at org.apache.catalina.session.StandardSession.removeAttribute(StandardSession.java:1315)
at org.apache.catalina.session.StandardSession.removeAttribute(StandardSession.java:1289)
at org.apache.catalina.session.StandardSessionFacade.removeAttribute(StandardSessionFacade.

[2021-09-24 06:59] PAX523 commented on #93
Tomcat has a special check in their session implementation: `org.apache.catalina.session.StandardSession.removeAttribute(String, boolean)`

[code]

And Jetty always accepts all attribute removals, independently of the state of the session: `org.eclipse.jetty.server.session.Session.setAttribute(String, Object)`

[2021-09-27 05:32] #93 closed, assigned to nobody

[2021-10-14 10:23] enver-haase opened #94 "Bug in file upload handling thread: may lose v21 session."
16:16:25.171 [http-nio-8080-exec-2] ERROR com.daimler.pariss.ui.util.I18nHandler - Retrieving locale, Session 8 is 'com.vaadin.mpr.core.MprSession@1376308843'; Session21 is 'com.vaadin.flow.spring.SpringVaadinSession@2054761651'.
16:16:25.171 [http-nio-8080-exec-2] ERROR com.xxx.ui.util.I18nHandler - Retrieving locale, Session 8 is 'com.vaadin.mpr.core.MprSession@1376308843'; Session21 is 'com.vaa

[2021-10-14 10:23] enver-haase commented on #94
Above debug output is generated by using
com.vaadin.server.VaadinSession.getCurrent()  for v8
com.vaadin.flow.server.VaadinSession.getCurrent() for v21

[2021-10-14 10:27] enver-haase commented on #94
As is said in the headline -- this does not always happen. Only often.

[2021-10-18 14:41] TobseF opened #95 "NullPointerException during UI.getCurrent() on Multiplatform Runtime (MPR)"
This issue belongs to the [MPR](https://vaadin.com/multiplatform-runtime), which is closed source. This is why I submit this bug in the platfrom repo.

Calling `com.vaadin.mpr.core.AbstractMprServlet#getCurrentUI` during `detach()`, will throw a NullPointerException because

This happens because the But the MPR registers itself as an `CurrentInstanceFallbackResolver` which tries to load the UI, in

[2021-10-19 05:59] denis-anisimov opened #96 "MPR uses FW7 version as a `framework.version`"
The property `framework.version` is set to FW7 version.
[code]

Should it be set to `framework.8.version` ?

[2021-10-19 06:01] denis-anisimov opened #97 "MPR needs new FW version"
The upcoming MPR release should be built against `8.15+` FW version since this version contains changes necessary to use MPR in OSGi.

[2021-10-19 06:10] caalador commented on #96
The used version doesn't really matter, but if most users are now on v8 then changing the default to 8 would probably make sense.
The version was chosen as v7 as at that time it was the main version used and was the initial targeted version to support with MPR.

Also it would seem that v8 was not mature yet as the release note for MPR 1.0.0 says `1.1.0 with Vaadin 8 support to be released during O

[2021-10-19 06:11] mshabarov commented on #96
I believe we can swap the version for `<framework.version>` from `7` to `8` in the root pom.xml, but then for `mpr-v7` and all the integration tests which uses mpr-v7, we would need to override it:
[code]
For me it looks the same, but using 8 by default and override it to 7 whenever needed.

[2021-10-19 06:30] denis-anisimov commented on #96
OK, thanks for the comments.

[2021-10-19 06:32] denis-anisimov commented on #96
I care primarily about OSGi manifest and the versions declared there.
And this could be solved actually via https://github.com/vaadin/multiplatform-runtime-internal/issues/555

[2021-10-19 06:37] denis-anisimov commented on #92
This is done for the latest versions.
https://github.com/vaadin/mpr-osgi-example shows how it works.
But there is remaining work to release everything carefully.

[2021-10-19 06:37] #92 closed, assigned to denis-anisimov

[2021-10-19 06:38] denis-anisimov commented on #94
Hello, thanks for the report. Can you please provide an example project based on <enter-suitable-base-starter-github-link-here> that reproduces the issue ? Otherwise there is not much what we can do with this.

[2021-10-19 06:43] TatuLund commented on #94
This could be related to https://github.com/vaadin/multiplatform-runtime/issues/95

I am working on two or three cases where session gets oddly lost. This leads to e.g. NPEs in different parts of the MPR code flow.

[2021-10-19 07:25] enver-haase commented on #94
I wonder why you cannot do much about this -- the setup is as follows:
v8 view in an MprRouteAdapter, all running in V21 with Spring Boot, and obviously from the stacktrace we're talking about the call-back thread from a V8 file upload that is missing it's V21 session.

[2021-10-19 07:41] denis-anisimov commented on #94
Can you please provide a simple project which demoes how I can reproduce this ?
Apparently it's obvious for you but I'm not familiar with MPR at all so I don't see what's involved here.

[2021-10-19 13:27] TobseF opened #98 "NullPointerException during WrappedSession.removeAttribute(String)"
### Describe the bug

I noticed a `NullPointerException` during a `handleRequest` beause

Because the stacktrace is triggered by a request and not during page load or a special site interaction, it's hard to reproduce it. Anyway the question is, if this `removeAttribute(String)` function shouldn't be null-safe. Or maybe one step further, the `WrappedSession` should not be created, with a nulled Se

[2021-10-19 13:28] #95 closed, assigned to nobody

[2021-10-19 14:01] ZheSun88 commented on #98
@TobseF Thanks for the ticket.. i move it to flow repo for further investigation.

[2021-10-20 05:52] denis-anisimov commented on #98
Looks like duplicate of https://github.com/vaadin/multiplatform-runtime/issues/93

[2021-10-20 05:57] ZheSun88 commented on #98
the fix that Denis mentioned has been released with **MPR 2.2.5** which was included in **Vaadin 14.7.2**
Can you try the latest version and let us know? @TobseF. Thank you

[2021-10-20 09:41] TobseF commented on #98
I'm testing the **Vaadin 14.7.2** release. First I found another session related exception which seems to very analog. I opened a new ticket for that one:
[NullPointerException in VaadinService.requestEnd because the return value of "VaadinRequest.getAttribute(s)" is null ](https://github.com/vaadin/flow/issues/12099)

Then I checked the original test for the problem in this thread. And it still h

[2021-10-20 10:03] denis-anisimov commented on #98
Oh, sorry, my bad.
It's not a duplicate.
The #93 is about ISE, this one is NPE.
I don't know what has happened to me when I closed it.

Reopened but this has chances to be fixed if you provide the steps to reproduce.

[2021-10-20 11:41] TatuLund commented on #98
I have seen this reported by another user to me. I have tried to reproduce the problem in simplified application, but so far I have not been able to. So clearly it needs some very specific scenario.

Also I have seen reports 2-3 other cases where session disappears mysteriously, but the NPE happens in different part of the code flow.

Something goes wrong somewhere, but why, that I do not know yet

[2021-10-26 14:11] #98 closed, assigned to nobody

[2021-10-28 06:09] TatuLund commented on #85
The fixes are merged and will be released in the next version.

[2021-10-28 06:09] #85 closed, assigned to mshabarov

[2021-11-10 16:12] TobseF opened #101 "🐞 Deadlock during logout"
### Describe the bug

In our Vaadin8+14+MPR application sometimes our whole application freezes because of a deadlock.
This also blocks our CI-Selenium-Pipeline, which will run forever.
It also happens during debugging, when a breakpoint was activated.

The problem occurs because three threads are locking each other (1.,2.,3.). The Vaadin Session locks the Jetty Session, but also Jetty can lock th

[2021-11-11 09:09] OlliTietavainenVaadin opened #100 "Readding a legacy component instance inside a new LegacyWrapper makes it disappear"
[code]
If you try to re-add a legacy component to a Flow layout inside a new LegacyWrapper instance, the component will not show up in the UI. Example to reproduce:
[code]
Instructions to reproduce: click buttons "(re)add first" and "(re)add second" to see - when you try to re-add a component that is currently in the UI, the component will disappear.

[2021-11-11 09:36] TatuLund commented on #101
This looks not be MPR issue, but bug in Flow, which is familiar to me. It should be fixed by this https://github.com/vaadin/flow/pull/12324

[2021-11-12 14:15] TatuLund opened #102 "It is possible to open Debug window using ?debug in production mode"
If you run Vaadin 14.7 / Vaadin 8.14 + MPR app running jetty:run -Pproduction and using profile settings as documented, Vaadin 8 will adopt the production mode setting correctly in the server side. However you can still open the Debug window using ?debug query parameter in the url when using non-root Routes. The debug variable is true in client side but production mode status is false in the serve

[2021-11-16 08:00] TatuLund commented on #101
@TobseF  The fix should be in Vaadin 14.7.5, can you test it?

[2021-11-16 14:11] dbenninger commented on #60
Still happening with vaadin 8.14.1 / 14.6.7. Locally it happens all the time.

On production this has happened once in 7 hours...

any updates on this one?

[2021-11-16 14:17] TatuLund commented on #60
I recommend to update to 14.7.5.

In the latest version handling of the attribute name of the object related to this exception was changed. This fix is not included yet in 14.6.7. Note also that you need to update Vaadin 8 version to 8.14.2 due this fix.

[2021-11-16 15:43] dbenninger opened #103 "Accessing legacy UI in afterNavigation of page with parameter causes IllegalArgumentException"
Vaadin 8.14.2 / 14.7.5

Accessing the legacy UI in the afterNavigation callback of a page implementing HasUrlParameter throws

`IllegalArgumentException: Navigation target 'com.example.application.views.helloworld.PageWithParameter' requires a parameter.
`

To reproduce:
1) Unpack [my-app-page-with-parameter.zip](https://github.com/vaadin/multiplatform-runtime/files/7547821/my-app-page-with-parame

[2021-11-16 15:44] dbenninger commented on #60
Thanks Tatu, I tried but updating vaadin to 14.7.5 causes this issue

https://github.com/vaadin/multiplatform-runtime/issues/103

[2021-11-17 07:43] TatuLund commented on #103
The legacy UI.getCurrent() works under MPR differently than normal. It will trigger creation of new UI instance. Now that seems to trigger some activity in Router as well, as it needs to check for `@LegacyUI` annatotation. Now it is that process that triggers the exception. Whether this is a design limitation or not, I do not know yet.

[code]

You can workaround this using `@OptionalParameter`

[

[2021-11-24 09:57] TatuLund commented on #100
Workaround is to recreate legacy components and not using existing instances.

[code]

[2021-11-24 14:38] sevenzebras opened #104 "IllegalStateException/IllegalMonitorStateException while session should be active possibly caused by sessionDestroy"
Our users are randomly experiencing a session timeout even though they are actively using the application. This unexpected timeout is followed by on of two exceptions (see stacktrace below). We have configured a session-timout via web.xml of 240 minutes and a heartbeatInterval of 120 seconds. We are not actively invalidating the session. We use a custom servlet extending CdiVaadinServlet and imple

[2021-11-25 14:50] sevenzebras commented on #104
Today we discovered a third exception that seems to be related.

Stacktrace 3:
[code]

[2021-11-26 12:51] TatuLund commented on #104
The exception during push cannot be culprit of the lock not being unreleased, as it has proper treatment here https://github.com/vaadin/flow/blob/2.8/flow-server/src/main/java/com/vaadin/flow/server/VaadinSession.java#L721

[2021-11-26 12:56] TatuLund commented on #104
The difficulty of investigating IllegalMonitorStateException is that exception is usually thrown in the place that has the correct implementation, not in the place that did not release the lock.

Thus I first thought that Push exception was more plausible. I.e. some other exception happening somewhere, which stops execution of code, before the lock is released. But this particular Push exception i

[2021-11-26 17:16] sevenzebras commented on #104
@TatuLund: Thank you for looking into this. By scanning through our logs, I found another exception that could possibly be related. This one seems to sometimes be triggered if we do an async update of a com.vaadin.ui.ProgressBar (removeStyleName, setValue, setVisible).
[code]

[2021-11-29 11:16] TatuLund commented on #104
This exception could be indication of your code updating UI without using access when it should. Is it possible for you to run the application with jvm -ea parameter to get more info.

However, it looks to me that MprSession#unlock could have better fault tolerance, i.e. the exception possibly leaves lock unreleased, but the root cause of the exception is likely in your code.

[2021-11-29 12:27] #104 closed, assigned to nobody

[2021-11-30 11:20] johannest opened #105 "Legacy Vaadin vaadin.initApplication is called sometimes too early."
Happens at least on Vaadin 7 (7.7.14) and Vaadin 14 (14.6.8) with MPR.

Sometimes after login (pure V14 view) when the app is navigated to the main view containing some legacy content, the Vaadin 8 side initialization fails to Uncaught TypeError: vaadin.initApplication is not a function. It looks like that this vaadin.initApplication call happens right before V8 framework/VAADIN/vaadinBootstrap.js

[2021-12-01 06:57] #102 closed, assigned to caalador

[2021-12-01 08:18] #103 closed, assigned to nobody

[2021-12-02 07:45] caalador commented on #100
The issue is not that the same component can't be added back, but that it is removed and added in the same roundtrip.
What is the usecase for remove and add on a single server roundtrip?

[2021-12-02 08:03] OlliTietavainenVaadin commented on #100
Toggling the visibility of components without needing to keep track of which components are actually shown at the time.

[2021-12-02 08:42] caalador commented on #100
Would using a legacy layout from which the components are removed and added be a possibility?
If you change the demo code to
[code]

Then removing and adding the components on the same roundtrip works as expected.

[2021-12-03 13:05] caalador commented on #80
Issue is already fixed in #491 which had the wrong fixes reference

[2021-12-03 13:05] #80 closed, assigned to nobody

[2021-12-04 13:37] sevenzebras commented on #104
I tried to run the application with assertions enaled, but I immediately get the exception below on the initial page load.

UT005023: Exception handling request to /framework: javax.servlet.ServletException: com.vaadin.server.ServiceException: java.lang.AssertionError
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:466) [vaadin-server-8.14.3.jar:8.14.3]
	at javax.servlet.http.HttpSe

[2021-12-04 14:05] TatuLund commented on #104
This is rather interesting. The assert is that UI should be null, as it is this method which initially creates one. So assert tests that there is no prior UI instance.

See:

https://github.com/vaadin/framework/blob/master/server/src/main/java/com/vaadin/server/communication/UIInitHandler.java#L71

Is this an issue or unfortunate side effect of MPR, I do not know yet.

I briefly checked MprUIInitH

[2021-12-04 15:43] sevenzebras commented on #104
In our case the UI is created via the fallbackResolver (com.vaadin.mpr.core.AbstractMprServlet) in CurrentInstance by the call UI.getCurrent() itself so that the assertion can never be true:
https://github.com/vaadin/framework/blob/e30226a19564c6ee77064e5178a7665554d57466/server/src/main/java/com/vaadin/util/CurrentInstance.java#L90
My guess from the stack is that AbstractMprUIProvider.getLegacyUI

[2021-12-07 11:02] OlliTietavainenVaadin commented on #100
No. Here's the answer I got from the priorizer:

[2021-12-09 21:15] sreitscope commented on #101
similar to https://github.com/vaadin/flow/issues/12316
because we are also deadlocked by the following code in VaadinSession.valueUnbound

        // Vaadin session attribute is removed from HTTP session in two cases:
        // either Vaadin session is closed explicitly by VaadinService or HTTP
        // session is invalidated (and all attributes are removed from it). In
        // the latter ca

[2021-12-09 21:27] sreitscope commented on #101
Simple example with 2 threads:

The first thread wants to invalidate the Jetty session (holding the jetty lock) and calling VaadinSession.valueUnbound(trying to acquire the Vaadin session lock)
The second threads makes a new request on the session (holding the Vaadin session lock via synchronizedHandleRequest) and wants to access jetty session attributes (trying to acquire the jetty lock).

This l

[2021-12-13 10:22] caalador commented on #100
Just a note on the issue and why this is happening.

- The removal removes the LegacyWrapper that the component was defined in and the is added to a new LegacyWrapper.
- On the client side the new LegacyWrapper is a new element, but from the framework side the component is still attached to the ui tree (which in MPR is virtual) and doesn't cause a hierarchy change.
- This makes the component not b

[2021-12-13 13:07] caalador commented on #100
As the problem is not really clear on what should happen to get the FrameWork to generate a hierarchy change there is the working workaround where the wrappers are not changed on the add/remove e.g.
[code]

[2021-12-14 07:19] TatuLund commented on #101
Do you have idea what triggers this ?

[2021-12-14 07:43] TatuLund commented on #101
That is rather interesting. The code you refer to is rather new addition ... It is supposed to fix a bug

https://github.com/vaadin/flow/commit/32d648beb96fddb2cb811d45f655037b0cfec603

Bug report is here

https://github.com/vaadin/flow/issues/6959

And there is another very interesting story here, which is somewhat related https://github.com/eclipse/jetty.project/issues/1947#issuecomment-34266348

[2021-12-14 07:49] TatuLund commented on #101
Could you check also ticket https://github.com/vaadin/flow/issues/12316

And especially comment https://github.com/vaadin/flow/issues/12316#issuecomment-981425937

[2021-12-14 08:51] caalador commented on #100
The best I can come up with is to add a new static method to LegacyWrapper that would then be used in this case in `wrap(...)` so it would look like:
[code]

[2021-12-14 09:02] sreitscope commented on #101
Yes, I saw this - in my opinion the introduction of the lock in valueUnbound makes the code prone to deadlocks. There will always be the race condition with 2 locks: One thread that owns the vaadin lock and tries to lock jetty for session attributes and another thread that destroys the jetty session (owning the jetty lock) and tries to lock the vaadin session.

It is also reproduced easily while d

[2021-12-20 09:54] #105 closed, assigned to caalador

[2021-12-23 21:03] mlopezFC opened #106 "Possible memory leak with UIs stored in the session"
# Description of the bug
In certain configurations the UIs stored in session attributes with the naming pattern: ui.n with n being a number, are not being removed when the UIs are detached.
# Minimal reproducible example
I was able to reproduce the issue in [this project](https://github.com/TatuLund/mpr-demo/tree/mpr-4), but [I forked and added a small modification](https://github.com/mlopezFC/mpr

[2021-12-30 13:13] #100 closed, assigned to caalador

[2021-12-31 12:56] #106 closed, assigned to nobody

[2022-01-21 11:39] TatuLund opened #107 "MPR v2.2.7 does not work with IE11"
There is regression due fix of #105, see https://github.com/vaadin/multiplatform-runtime-internal/pull/571

The JavaScript call has an arrow function.

[2022-01-21 13:08] #107 closed, assigned to nobody

[2022-01-26 07:22] joheriks commented on #60
@dbenninger Have you tried Vaadin 14.8.2 or newer (where #103 is fixed). Does the NPE in `MprUIInitHandler.synchronizeHandlerRequest` still occur? We were unable to reproduce this problem.

[2022-02-09 07:33] joheriks commented on #60
Closing, please comment here if you can still reproduce the problem and we will re-open the ticket.

[2022-02-09 13:41] bbengamin opened #108 "Vaadin Designer Edit mode doesn't work"
**Actual behavior**
When I edit the design files using Edit mode changes don't reflect HTML structure or auto-generated java files.

**Expected behavior**
When I edit design file using Edit mode changes are saved in HTML and auto-generated java files

I created a short video to show you the problem - https://www.loom.com/share/d65980a8155f497f833143554c73fb28.
Here you can find the project I work

[2022-02-15 18:32] sevenzebras opened #109 "NullPointerException/IllegalMonitorStateException during VaadinService::fireSessionDestroy"
After upgrading to MPR 2.2.7 which included a fix for issue #104 we are still experiencing problems with unexpected session timeouts. The IllegalMonitorStateException is pretty similar to #104 but now we also occasionally get NullPointerExceptions. We sadly still can’t provide steps to reproduce the issue. Maybe the attached stacktraces give a hint.

Versions:
Vaadin Framework -> 8.14.3
Flow -> 14

[2022-02-17 22:30] enver-haase commented on #94
There is no 'simple' MPR project, as setting any MPR project up would probably take a couple of hours. I can however share a not-so-simple project, or we can have a screen-sharing session.

[2022-02-17 22:43] enver-haase commented on #94
package com.xxx.pariss.ui.component;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import com.xxx.pariss.app.ApplicationServiceInitListener;
import com.vaadin.flow.server.VaadinSession;

public class RepairSession {

	 private final static Logger log = LoggerFactory.getLogger(RepairSession.class);
    /**
     * Let a call-back thread (e.g. from Vaadin file upload) call into this.

[2022-02-17 22:43] enver-haase commented on #94
the above code may help -- this is how the problem manifests

[2022-03-10 14:54] javier-godoy opened #110 "ViewAccessChecker limitation with ConnectorResourceHandler"
The current flow `VaadinServletRequest` is null when navigation is initiated from a legacy `ConnectorResourceHandler`, causing [ViewAccessChecker ](https://github.com/vaadin/flow/blob/5fa90d6eeb497292eeed512ba369828f6112cff7/flow-server/src/main/java/com/vaadin/flow/server/auth/ViewAccessChecker.java#L144)to prevent navigation "because no HTTP request is available for checking access".

[code]
[Fu

[2022-03-18 10:06] sevenzebras commented on #109
We are now able to reproduce at least some part of the issue. First it seems to make a difference whether you actively close idle sessions (web.xml > closeIdleSessions=true) or not. Second whether the browser is still open or was closed by the user and third if you invalidate the HTTPSession in an SessionDestroyListener or not (having more than one VaadinSession per HTTPSession).

We now decided t

[2022-03-21 06:22] caalador commented on #110
Navigating away during a download stream initialization doesn't sound right.
If you want to navigate away on the button click while starting a download you should just use the click event for navigation instead of mixing with the FileDownloader extension stream generation

e.g. changing the code to:
[code]

[2022-05-09 19:45] mlopezFC opened #111 "Tooltips are behaving differently compared to plain Vaadin 7"
In Vaadin 7, tooltips had the following behavior:
* When the mouse cursor was hovering the element that produced the tooltip, then the tooltip appeared
* If the mouse pointer was moved to hover on top of the tooltip, it remained opened and you could even click on it and the tooltip won't be closed
* When moving the mouse out of the element or the tooltip, then the tooltip disappeared.
This behavio

[2022-05-10 14:27] avackova commented on #60
With:
		<vaadin.version>7.7.30</vaadin.version>
		<vaadin-flow.version>14.8.4</vaadin-flow.version>
		<flow.plugin.version>2.7.11</flow.plugin.version>

I get:
[code]

This occures, when opennig the page. After refresh the application looks OK.

[2022-05-17 06:36] TatuLund commented on #111
Noting here, that if you have a very complex description with html content, it becomes more like a popup that opens on hover. In that case it becomes a necessity to be able to scroll the content of the tooltip. Example:

[code]

[2022-05-19 20:22] davemc-telus commented on #111
This is one of our highest priority bugs. Our customers are frequently asking when this can be fixed. Thanks for looking into it.

[2022-05-19 22:47] mlopezFC opened #112 "Problem with widgetset compilation in Vaadin 23 + Vaadin 7.7.32"
## Description of the bug
In a simple Vaadin 23.0.9 + Vaadin 7.7.32 with MPR, when trying to compile the project, the widgetset compilation fails reporting an error with a gwt-user version that is different from the one explicitly used in the pom.xml file. In the pom.xml file I've explicitly defined that the gwt version being used is 2.8.2. If I run `mvn dependency:tree` I see that version 2.8.2 i

[2022-05-20 21:20] mlopezFC commented on #112
I was able to solve this issue inspired in this article, and did the following modifications:
* Use GWT version 2.9.0 because Vaadin 23 requires Java 11 and prior versions of GWT are not compatible
* Added a configuration for the directory where the generated files are placed:
[code]
* Avoid calling the goal "compile" in the vaadin-maven-plugin
* Added a new maven plugin configuration:

[code]

An

[2022-05-20 21:20] #112 closed, assigned to nobody

[2022-05-23 13:17] ghost commented on #110
Ok

[2022-06-13 17:04] Tostino commented on #111
Where are we with this? I haven't heard any progress and we're about to pass another release for our customers without having any resolution here...

[2022-06-15 07:47] mshabarov commented on #111
@Tostino we'll start working on this ticket as soon as possible. Since we have quite many critical issues in our queue, we plan to start this work on the next iteration (next week).

[2022-06-27 10:54] melihkurtaran opened #113 "Session expiration under MPR | Not redirect to login page"
There is an issue with session expiring after the defined threshold. The underlying http session is killed, session expired URL default setting is null and that should refresh the page, but it does not refresh.

It can be reproduced with following demo app from Vaadin
https://www.dropbox.com/s/qyhl2ec2un5wo8r/my-app.zip?dl=0

Neither

changes in application.properties file:
server.servlet.session.

[2022-07-06 08:39] roastedcpu commented on #111
Any updates on this one ?

[2022-07-08 09:41] mcollovati commented on #113
I did some test and I can see that the http session is not destroyed.
After the session timeout interval, the Vaadin session is destroyed during heartbeat request; the request handler responds with an 403 error with "Session expired" message and the browser page is refreshed, but since the http session is still active, the authentication details are still there.

To have logout performed due to in

[2022-07-11 05:47] rahullakhangaonkar commented on #113
We were trying to register the SessionDestory handler using below code
VaadinServlet.getCurrent().getService().addSessionDestroyListener(
                    sessionEvent -> sessionEvent.getSession().getSession().invalidate()
);
written in MainView onAttach method. It was not working
After adding the code
@Bean
VaadinServiceInitListener invalidateHttpSessionOnVaadinSessionDestroy() {
    return ev

[2022-07-11 06:28] mcollovati commented on #113
Hi, @rahullakhangaonkar
thanks for your feedback.

Can you please provide some additional detail about your application?
What Vaadin version are you using?
Are you using the Vaadin spring addon?
Is the session destroy listener not invoked at all?
Have you double checked that the `VaadinServiceInitListener` is correctly registered?

[2022-07-11 06:43] rahullakhangaonkar commented on #113
In our application what we observed that invalidateHttpSessionOnVaadinSessionDestroy  event handling method sessionEvent.getSession().getSession().invalidate() is not  getting called at timeout. Also on that timeframe it generates multiple logs like
2022-07-11 11:25:34 ERROR [https-jsse-nio-9443-exec-4]: o.a.c.c.C.[.[.[.[springServlet]:175 - Servlet.service() for servlet [springServlet] threw exce

[2022-07-11 07:10] rahullakhangaonkar commented on #113
Hi @mcollovati,
Thanks for your reply.

What Vaadin version are you using?
We are using Vaddin - 23.0.3 and mpr version 6.0.1

Are you using the Vaadin spring addon?
yes
<dependency>
            <groupId>com.vaadin</groupId>
            <artifactId>vaadin-spring</artifactId>
        </dependency>

Is the session destroy listener not invoked at all?
No session destroy listener is not getting called

[2022-07-11 07:14] mcollovati commented on #113
java.lang.NullPointerException: Cannot invoke "com.vaadin.mpr.core.MprSession.removeUI(com.vaadin.ui.UI)" because "mprSession" is null
at com.vaadin.mpr.core.AbstractMprUIProvider.lambda$createInstance$d1cfe78c$1(AbstractMprUIProvider.java:54)
at com.vaadin.flow.component.ComponentEventBus.fireEventForListener(ComponentEventBus.java:206)
at com.vaadin.flow.component.ComponentEventBus.fireEvent(Com

[2022-07-11 08:29] rahullakhangaonkar commented on #113
Hi @mcollovati,
I checked dependency:tree and due to multi module it was picking 6.0.0 at application class level
We have one module which has StartupClass with main method and other module with Vaadin 23  and other module with v8.
I have ensure complete project is now using mpr-v8 with version 6.0.1 and it help in reducing some error like NPE. even Push error is not observed but still below error

[2022-07-11 08:35] mcollovati commented on #113
@rahullakhangaonkar thanks for double checking your project and for feedback.
I'm able to reproduce the error with Push.
I'll also take a look a this new exception related to spring security Vaadin integration

[2022-07-12 05:45] mcollovati commented on #113
@rahullakhangaonkar I cannot reproduce the issue with `RequestUtil.isAnonymousRoute` from the last stacktrace.
When does it happen? Can you provide some step or advice  to reproduce it?

[2022-07-13 06:11] rahullakhangaonkar commented on #113
Hi @mcollovati I have also tried reproducing this issue on some sample codes from Vaadin but I was not able to reproduce this issue. but this issue is very easily reproduce in my application. Now I am not sure what pointers will help you in getting more information about this issue

[2022-07-13 09:40] mcollovati commented on #113
@rahullakhangaonkar can you detect what request originates the error (request URI)?
Does it happen after session expiration? Can you share your spring security configuration?

[2022-07-13 13:54] mcollovati commented on #113
Hi @rahullakhangaonkar, we published a SNAPSHOT version with some fixes.
Do you mind giving it a try?

You may need to add vaadin pre-releases repository to the POM file and change MPR version to 6.0-SNAPSHOT

[code]

[2022-07-13 14:19] rahullakhangaonkar commented on #113
@mcollovati I will try this

[2022-07-13 14:50] rahullakhangaonkar commented on #113
@mcollovati for your previous question what request originates the error (request URI)?
after heartbeat url https://localhost:9443/appname/?v-r=heartbeat&v-uiId=1
Below url gets called
https://localhost:9443/appname/vaadinServlet/?v-r=push&v-uiId=1&v-pushId=d2aee0a8-fb79-4c48-9963-0ef868b091e0&X-Atmosphere-Transport=close&X-Atmosphere-tracking-id=f0d0f008-c21c-40d9-8a6d-f33f60618e3d
After this url

[2022-07-13 14:54] rahullakhangaonkar commented on #113
@mcollovati when I use MPR version to 6.0-SNAPSHOT Looks like it was redirected to login page properly. It worked locally for me. but give me a day more to confirm again.

[2022-07-13 15:01] mcollovati commented on #113
@rahullakhangaonkar thank you very much for your feedback

[2022-07-14 08:29] rahullakhangaonkar commented on #113
@mcollovati on my prod environment even after using  MPR version to 6.0-SNAPSHOT my Destory even handler did not get called and in uncaugh exception handler I saw below error when page get refreshed
2022-07-14 07:39:55 ERROR [https-openssl-apr-8443-exec-2]: c.m.t.p.u.MainView:124 - Uncaught UI exception
java.util.concurrent.ExecutionException: java.lang.RuntimeException: Push failed
        at jav

[2022-07-14 13:01] #113 closed, assigned to nobody

[2022-07-14 14:08] mcollovati commented on #113
Hi @rahullakhangaonkar, we published another snapshot with a change that hopefully fixes `RuntimeException: Push failed` error.
May I ask you to give it a try?
You should perhapse use the `-U` flag with maven, to force snapshot updates

[2022-07-15 07:06] rahullakhangaonkar commented on #113
Hi @mcollovati we have tested with newly updated changes and it worked correctly and timeout happens. Thanks for all your support and help in resolving this issue.

[2022-07-15 16:46] rahullakhangaonkar commented on #113
When this issue fix will be part of main release?

[2022-07-18 06:11] #111 closed, assigned to mcollovati

[2022-07-18 06:12] mcollovati commented on #111
A new version with the fix for this issue will be released soon

[2022-07-18 18:43] mcollovati commented on #113
Version 6.0.2 is out. It will be part of the next Vaadin platform release

[2022-07-18 18:46] mcollovati commented on #111
Fix is available on 6.0.2, 5.0.9, 2.2.10 and will be part of next Vaadin platform releases

[2022-07-27 12:43] paodb opened #115 "Navigation problem when ClickShortcut is present in LegacyWrapper"
### Description
Navigation seems to break when trying to navigate to a Flow View containing a LegacyWrapper of a Vaadin 7 component. The issue seems to be caused when adding a ClickShortcut to a Vaadin 7 Button that is inside a Legacy Wrapper in a Vaadin Flow View.  If I remove that ClickShortcut, the navigation works okay. See attached image of the problem:

![mpr_navigation1](https://user-images

[2022-07-28 14:09] mshabarov commented on #110
Closed due to no response from author. If this is still an issue, please reopen the ticket and provide more information.

[2022-07-28 14:09] #110 closed, assigned to nobody

[2022-08-05 11:03] MarcinVaadin commented on #115
Investigation results:

Why going _root -> Button_ or _navigate -> Button_ does not brake the location? Because:
1. Framework UI is being lazely loaded when opening view with v7 component
2. Current location is stored in v7 `Page` object
3. Two UIDL updates are returned, one for Flow (no dirty v7 components for state update yet) and one after Framework initialization

And why going back and forth

[2022-08-16 14:36] mshabarov commented on #115
Indeed, this is a regression after applying a patch for fixing https://github.com/vaadin/flow/issues/7540 .

`UidlRequestHandler::removeOffendingMprHashFragment` adds an extra `http://localhost:8080` to the history, through this method:
https://github.com/vaadin/flow/blob/020ee677e59d3b0f411232e402c55a68f34924f2/flow-server/src/main/java/com/vaadin/flow/server/communication/UidlRequestHandler.java

[2022-08-16 16:23] kshashov commented on #115
We tried turning `useDeprecatedV14Bootstrapping` on but the issue was still reproducible in a slightly different way
![mpr_navigation2](https://user-images.githubusercontent.com/3830719/184921407-991cd319-3e01-46bd-9e50-95d040b6d212.gif)

[2022-08-17 13:59] mshabarov commented on #115
@kshashov thanks, indeed, this also doesn't fix the problem. Looks like a completely different issue in Flow https://github.com/vaadin/flow/issues/14323 .

[2022-08-22 09:59] #115 closed, assigned to mshabarov

[2022-08-22 13:42] Tostino commented on #115
Looking for guidance on when the next hotfix release will be that will include this, or the best way to incorporate this just this fix into our build, as we need to get our software released very soon and are looking for the path that gives us the least resistance here.

[2022-08-22 13:56] mshabarov commented on #115
@Tostino which version of Vaadin do you use? Is it V23.1.x ? Since the fix is on the Flow side, I can release the corresponding version of Flow with this patch tomorrow morning and you can override it in your project. Platform release comes later on according to a normal schedule, so once it's ready you would remove the override and just upgrade the platform version. Does it sound fine for you?

[2022-08-22 14:13] Tostino commented on #115
We made the original report, so we are on 23.1.3 right now. That seems like it'll work just fine, we can just upgrade the flow version.

Thanks for the help here.

[2022-08-23 08:25] mshabarov commented on #115
@Tostino please try a new Flow 23.1.6 with this patch:

[code]

Will be included into next 23.1.x platform release.

[2022-09-27 08:08] mshabarov commented on #108
@szolo could you please try to reproduce this issue on your side with Designer?

[2022-09-27 22:04] szolo commented on #108
Hello @mshabarov, sure! Probably this particular MPR setup is an issue.

[2022-10-06 08:51] alasdairg opened #116 "AbstractLegacyWrapper WeakHashMap usage can lead to application hang"
MPR Core 2.2.10
JDK 8

The AbstractLegacyWrapper class declares a static WeakHashMap which maps between vaadin.ui.Component and AbstractLegacyWrapper.

Unfortunately, WeakHashMap is not thread-safe, and non-synchronized access can lead to one thread acquiring the lock inside WeakHashMap.expungeStaleEntries() but being trapped forever in the while loop in that method. This leads to all subsequent t

[2022-10-14 06:12] #116 closed, assigned to caalador

[2022-10-18 12:00] #101 closed, assigned to caalador

[2022-10-28 07:58] Artur- opened #117 "Gradle 7 + mpr + Vaadin 24 does not work because of the devsoap plugin"
The test for Flow 24 + mpr + Vaadin 8 in the Flow project was disabled in https://github.com/vaadin/flow/pull/14937 because the devsoap plugin does not work with Gradle 7:
[code]

There is a 2.0.0 beta version of the devsoap plugin that was done before the project was abandoned but that one does not work either.

[2022-11-23 17:51] pogocode opened #118 "CurrentInstance not cleared when request made to /framework"
When a request is made to framework, the `VaadinSession`s are not cleared. Consequently calls to `VaadinSession.getCurrent()` may return data related to unrelated sessions at the start of the next http request.

When using Spring Boot / Spring Security, this is a problem if using servlet filters which rely on `com.vaadin.flow.spring.security.VaadinAwareSecurityContextHolderStrategy`, as we can end

[2022-11-24 09:11] TatuLund commented on #118
I needed to change from logger to system.out in order to get the output. But yes, I see the same behavior after this modification using Vaadin 23.2.8, Vaadin 8.18.

[code]

[2022-11-24 09:36] pogocode commented on #118
Just a note to say that we can add a filter at the start of the chain to call `CurrentInstance.clearAll()` as a workaround.